<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/Activity_Ratio_2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import pandas as pd
import numpy as np

In [94]:
#e = pd.read_excel('2020.xlsx')
#f = pd.read_excel('2021.xlsx')
#g = pd.read_excel('PAYFEB.xlsx')
#h = pd.read_excel('PAYJAN.xlsx')

In [95]:
df1 = pd.read_excel('PaymentDataDump (1).xlsx')

In [96]:
#df1 = pd.concat([e,f,g,h])

In [97]:
df1.Type.value_counts()

DEPOSIT                          6962
Deposit                          1509
Savings Withdrawal                 46
Retirement Withdrawal               9
Over 60 years WITHDRAWAL            6
Closure of Account Withdrawal       6
PF Withdrawal                       1
Name: Type, dtype: int64

In [98]:
#df = pd.read_excel('2020.xlsx')
#df1 = pd.read_excel('PAYFEB.xlsx')

In [99]:
#df['Year'] = 20

In [100]:
#df1['Year'] = 2021

2020

In [101]:
df1['Product type'].value_counts()

PPT Personal Pension Scheme        7061
PPT Occupational Pension Scheme    1217
PPT TUC UNIWA Scheme                246
PPT Provident Fund Scheme            15
Name: Product type, dtype: int64

In [102]:
df1['Sector'] = df1['Product type'].replace({'PPT Personal Pension Scheme':'Informal','PPT Occupational Pension Scheme':'Formal','PPT TUC UNIWA Scheme':'Informal','PPT Provident Fund Scheme':'Formal'})

In [103]:
df1.Sector.value_counts()

Informal    7307
Formal      1232
Name: Sector, dtype: int64

In [104]:
# Creating a column based on 1st 3 letters of batch number
df1['Group'] = df1.iloc[:,3].str[:3]
TR0 = df1[df1.Group == 'TR0']
PPT = df1[df1.Group == 'PPT']
PPT['NewBatch'] = PPT.iloc[:,3].str[:10]
TR0['NewBatch'] = TR0.iloc[:,3].str[:12]

frames = [PPT,TR0,]
result = pd.concat(frames)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [105]:
#assigning tags based (reversal/actual)
result.NewBatch.fillna('Actual',inplace=True)
result['Reversal'] = result.iloc[:,3].str[-2:]
result.loc[result['Reversal'] == '/1', 'Status'] = 'Reversal' 
result.loc[result['Reversal'] != '/1', 'Status'] = 'Actual' 
#converting date to datetime
#result['Start date'] = pd.to_datetime(result['Start date'], format='%Y-%m-%d')

In [106]:
result.Status.value_counts()

Actual      8530
Reversal       9
Name: Status, dtype: int64

In [107]:
#removing reversals
actual=result[result['Status']=='Actual']
rever=result[result['Status']=='Reversal']

C = actual.loc[~((actual.NewBatch.isin(rever["NewBatch"])))]
C['[Withdrawal]'].replace(0.0, np.nan, inplace=True)
C['[Contribution]'].replace(0.0, np.nan, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [108]:
C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8521 entries, 0 to 8538
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               8521 non-null   int64
 1   Creation time    8521 non-null   int64
 2   [Sesseion date]  8521 non-null   int64
 3   Batch number     8521 non-null   object
 4   Mobile           8521 non-null   object
 5   Product type     8521 non-null   object
 6   [Scheme number]  8521 non-null   object
 7   [Other number]   5323 non-null   object
 8   User name        8521 non-null   object
 9   Method           8521 non-null   object
 10  Type             8521 non-null   object
 11  Reference        8521 non-null   object
 12  [Contribution]   8460 non-null   float64
 13  [Withdrawal]     61 non-null     float64
 14  Sector           8521 non-null   object
 15  Group            8521 non-null   object
 16  NewBatch         8521 non-null   object
 17  Reversal         8521 non-null   object
 18  Status           8521 non-null   object
dtypes: float64(2), int64(3), object(14)
memory usage: 1.3+ MB

In [110]:
C.to_excel('February dump.xlsx')

In [90]:
C.Sector.value_counts()

Informal    7301
Formal      1220
Name: Sector, dtype: int64

In [91]:
a = C[C['[Contribution]'].notna()]
b = a.loc[a['Sector'] == 'Informal']

In [92]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7243 entries, 0 to 8538
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               7243 non-null   int64
 1   Creation time    7243 non-null   int64
 2   [Sesseion date]  7243 non-null   int64
 3   Batch number     7243 non-null   object
 4   Mobile           7243 non-null   object
 5   Product type     7243 non-null   object
 6   [Scheme number]  7243 non-null   object
 7   [Other number]   4821 non-null   object
 8   User name        7243 non-null   object
 9   Method           7243 non-null   object
 10  Type             7243 non-null   object
 11  Reference        7243 non-null   object
 12  [Contribution]   7243 non-null   float64
 13  [Withdrawal]     0 non-null      float64
 14  Sector           7243 non-null   object
 15  Group            7243 non-null   object
 16  NewBatch         7243 non-null   object
 17  Reversal         7243 non-null   object
 18  Status           7243 non-null   object
dtypes: float64(2), int64(3), object(14)
memory usage: 1.1+ MB

In [75]:
b['[Scheme number]'].nunique()

1747

2021