<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/activity_ratio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('data.csv')

In [ ]:
df

       Year Amount deposit BGS       ID
0      2016             90 GHS  1000116
1      2016           1181 GHS  1000139
2      2016            159 GHS  1000140
3      2016            331 GHS  1000141
4      2016           1250 GHS  1000641
...     ...                ...      ...
23923  2020              5 GHS  1044622
23924  2020             10 GHS  1044623
23925  2020             10 GHS  1044634
23926  2020              2 GHS  1044662
23927  2020              5 GHS  1044671

[23928 rows x 3 columns]

2018

In [ ]:
df1 = df[df['Year'].isin([2016, 2017, 2018])]

In [ ]:
df1.ID.nunique()

7945

In [ ]:
df2 = df[df['Year'].isin([2018])]

In [ ]:
df2.ID.nunique()

6900

2019

In [ ]:
df3 = df[df['Year'].isin([2016, 2017, 2018, 2019])]

In [ ]:
df4 = df[df['Year'].isin([2019])]

In [ ]:
df3.ID.nunique()

13130

In [ ]:
df4.ID.nunique()

8676

2020

In [ ]:
df5 = df[df['Year'].isin([2016, 2017, 2018, 2019, 2020])]

In [ ]:
df6 = df[df['Year'].isin([2020])]

In [ ]:
df5.ID.nunique()

14870

In [ ]:
df6.ID.nunique()

5915

In [ ]:
20