<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/Activity_Ratio_2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [248]:
import pandas as pd
import numpy as np

In [249]:
#df = pd.read_excel('2020.xlsx')
df1 = pd.read_excel('PAYJAN.xlsx')

In [250]:
#df['Year'] = 20

In [251]:
#df1['Year'] = 2021

2020

In [252]:
df1['Product type'].value_counts()

PPT Personal Pension Scheme        7368
PPT Occupational Pension Scheme    2408
PPT TUC UNIWA Scheme                248
PPT Provident Fund Scheme            85
Name: Product type, dtype: int64

In [253]:
df1['Sector'] = df['Product type'].replace({'PPT Personal Pension Scheme':'Informal','PPT Occupational Pension Scheme':'Formal','PPT TUC UNIWA Scheme':'Informal','PPT Provident Fund Scheme':'Formal'})

In [254]:
df1.Sector.value_counts()

Informal    7583
Formal      2526
Name: Sector, dtype: int64

In [255]:
# Creating a column based on 1st 3 letters of batch number
df1['Group'] = df1.iloc[:,3].str[:3]
TR0 = df1[df1.Group == 'TR0']
PPT = df1[df1.Group == 'PPT']
PPT['NewBatch'] = PPT.iloc[:,3].str[:10]
TR0['NewBatch'] = TR0.iloc[:,3].str[:12]

frames = [PPT,TR0,]
result = pd.concat(frames)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [256]:
#assigning tags based (reversal/actual)
result.NewBatch.fillna('Actual',inplace=True)
result['Reversal'] = result.iloc[:,3].str[-2:]
result.loc[result['Reversal'] == '/1', 'Status'] = 'Reversal' 
result.loc[result['Reversal'] != '/1', 'Status'] = 'Actual' 
#converting date to datetime
#result['Start date'] = pd.to_datetime(result['Start date'], format='%Y-%m-%d')

In [257]:
result.Status.value_counts()

Actual      10062
Reversal       47
Name: Status, dtype: int64

In [258]:
#removing reversals
actual=result[result['Status']=='Actual']
rever=result[result['Status']=='Reversal']

C = actual.loc[~((actual.NewBatch.isin(rever["NewBatch"])))]
C['[Withdrawal]'].replace(0.0, np.nan, inplace=True)
C['[Contribution]'].replace(0.0, np.nan, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [259]:
C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10015 entries, 0 to 10104
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               10015 non-null  int64
 1   Creation time    10015 non-null  int64
 2   [Sesseion date]  10015 non-null  int64
 3   Batch number     10015 non-null  object
 4   Mobile           10015 non-null  object
 5   Product type     10015 non-null  object
 6   [Scheme number]  10015 non-null  object
 7   [Other number]   6228 non-null   object
 8   User name        10015 non-null  object
 9   Method           10015 non-null  object
 10  Type             10015 non-null  object
 11  Reference        10015 non-null  object
 12  [Contribution]   9916 non-null   float64
 13  [Withdrawal]     99 non-null     float64
 14  Sector           10015 non-null  object
 15  Group            10015 non-null  object
 16  NewBatch         10015 non-null  object
 17  Reversal         10015 non-null  object
 18  Status           10015 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 1.5+ MB

In [260]:
C.Sector.value_counts()

Informal    7492
Formal      2523
Name: Sector, dtype: int64

In [261]:
a = C[C['[Contribution]'].notna()]
b = a.loc[a['Sector'] == 'Informal']

In [262]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7407 entries, 0 to 10104
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               7407 non-null   int64
 1   Creation time    7407 non-null   int64
 2   [Sesseion date]  7407 non-null   int64
 3   Batch number     7407 non-null   object
 4   Mobile           7407 non-null   object
 5   Product type     7407 non-null   object
 6   [Scheme number]  7407 non-null   object
 7   [Other number]   4658 non-null   object
 8   User name        7407 non-null   object
 9   Method           7407 non-null   object
 10  Type             7407 non-null   object
 11  Reference        7407 non-null   object
 12  [Contribution]   7407 non-null   float64
 13  [Withdrawal]     0 non-null      float64
 14  Sector           7407 non-null   object
 15  Group            7407 non-null   object
 16  NewBatch         7407 non-null   object
 17  Reversal         7407 non-null   object
 18  Status           7407 non-null   object
dtypes: float64(2), int64(3), object(14)
memory usage: 1.1+ MB

In [263]:
b['[Scheme number]'].nunique()

3078

2021