<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/AgentUpdate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import packages
import pandas as pd
import numpy as np
#!pip install xlsxwriter
#!pip install openpyxl --upgrade --pre

In [25]:
a = pd.read_excel('maximus-officer_export-1643975173645.xlsx')
b = pd.read_excel('maximus-officer_export-1643975184381.xlsx')
c = pd.read_excel('maximus-officer_export-1643975201212.xlsx')
d = pd.read_excel('maximus-officer_export-1643975210636.xlsx')
e = pd.read_excel('maximus-officer_export-1643975219200.xlsx')
f = pd.read_excel('maximus-officer_export-1643975247636.xlsx')

In [26]:
df = pd.concat([a,b,c,d,e,f])

In [9]:
#df.to_excel('agent.xlsx')

In [27]:
nad = pd.read_excel('agent.xlsx')
agrf1 = pd.read_excel('agrf1.xlsx')

In [28]:
nad['agentname'] = nad.agentname.str.upper()
agrf1['agentname'] =agrf1.agentname.str.upper()

In [29]:
agre = pd.concat([nad,agrf1])

In [35]:
agre

                agentname        Mobile
0      SALIFU DORIMONAH\t  233240208898
1        ABETOGOH KOKOU\t  233554612231
2    VICTOR YAOVI KUDOH\t  233244524796
3       ADAM JACKSALLEY\t  233249890445
4         WISDOM GBEDZI\t  233246837051
..                    ...           ...
82       EMMANUEL AWULEY   233277718165
83        ABRAHAM HOCKMAN  233550791048
84  KWAME SARFO - AGYEMAN  233243650732
85    CLETUS APEWE AZUPIO  233244944089
86   TORGBUI NYAMASTIADZI  233244455855

[139 rows x 2 columns]

In [32]:
agre.to_excel('agre.xlsx')

In [33]:
agre1 = agre.drop_duplicates()

In [36]:
agre1.to_excel('agentupdate.xlsx')

In [20]:
agrf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  87 non-null     object
 1   Mobile     87 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB