<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/Analysis_Using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a code to do the following:
1. Group the Methods of Payment into either Cash / Digital
2. Remove all Reversals("/") and their Corresponding Actual payments 
3. Remove all Jan 1 2021 cash deposits (NON-CASH)
4. Remove all withdrawals by username : admin from Jan - Dec 2021
5. Create Gender, Age and Age Group Columns and find their exact matches by Scheme Number from Member Data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel('2020-2022PAY.xlsx')
df.head(100)

        Id   Creation    Session  ...      Reference Contribution Withdrawal
0    68922 2021-01-11 2020-12-18  ...  BALANCE B/FWD         0.50        0.0
1   164755 2021-04-08 2020-12-18  ...  BALANCE B/FWD        59.38        0.0
2    86983 2021-01-12 2020-12-18  ...  BALANCE B/FWD       389.00        0.0
3    73354 2021-01-11 2020-12-18  ...  BALANCE B/FWD         7.00        0.0
4    69407 2021-01-11 2020-12-18  ...  BALANCE B/FWD         1.00        0.0
..     ...        ...        ...  ...            ...          ...        ...
95   12801 2021-01-09 2020-12-18  ...  BALANCE B/FWD     15412.84        0.0
96   84351 2021-01-11 2020-12-18  ...  BALANCE B/FWD       160.00        0.0
97   12799 2021-01-09 2020-12-18  ...  BALANCE B/FWD      6568.04        0.0
98   71121 2021-01-11 2020-12-18  ...  BALANCE B/FWD         4.00        0.0
99   83602 2021-01-11 2020-12-18  ...  BALANCE B/FWD       130.00        0.0

[100 rows x 18 columns]

In [ ]:
# df["Year"] = df["[Sesseion date]"].dt.year
# df["Month"] = df["[Sesseion date]"].dt.month_name()
# df["Day"] = df["[Sesseion date]"].dt.day

In [ ]:
df['Product'].value_counts()

PPT Personal Pension Scheme        106527
PPT Occupational Pension Scheme     39118
PPT TUC UNIWA Scheme                 4189
PPT Provident Fund Scheme             981
Name: Product, dtype: int64

In [ ]:
df['Sector'] = df['Product'].replace({'PPT Personal Pension Scheme':'Informal','PPT Occupational Pension Scheme':'Formal','PPT TUC UNIWA Scheme':'Informal','PPT Provident Fund Scheme':'Formal'})

In [ ]:
df.Sector.value_counts()

Informal    110716
Formal       40099
Name: Sector, dtype: int64

In [ ]:
df

            Id   Creation    Session  ... Contribution Withdrawal    Sector
0        68922 2021-01-11 2020-12-18  ...         0.50        0.0  Informal
1       164755 2021-04-08 2020-12-18  ...        59.38        0.0    Formal
2        86983 2021-01-12 2020-12-18  ...       389.00        0.0  Informal
3        73354 2021-01-11 2020-12-18  ...         7.00        0.0  Informal
4        69407 2021-01-11 2020-12-18  ...         1.00        0.0  Informal
...        ...        ...        ...  ...          ...        ...       ...
150810  328258 2022-01-11 2022-01-11  ...         3.00        0.0  Informal
150811  328318 2022-01-11 2022-01-11  ...        50.00        0.0  Informal
150812  328320 2022-01-11 2022-01-11  ...         5.00        0.0  Informal
150813  328704 2022-01-11 2022-01-11  ...         5.00        0.0  Informal
150814  328754 2022-01-11 2022-01-11  ...        10.00        0.0  Informal

[150815 rows x 19 columns]

In [ ]:
# Creating a column based on 1st 3 letters of batch number
df['Group'] = df.iloc[:,3].str[:3]

In [ ]:
TR0 = df[df.Group == 'TR0']
PPT = df[df.Group == 'PPT']
IPA = df[df.Group == 'IPA']
PA0 = df[df.Group == 'PA0']
N209 = df[df.Group == '209']
N224= df[df.Group == '224']

In [ ]:
IPA['NewBatch'] = IPA.iloc[:,3].str[:14]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
PPT['NewBatch'] = PPT.iloc[:,3].str[:10]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
TR0['NewBatch'] = TR0.iloc[:,3].str[:12]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
frames = [PPT, IPA, TR0,PA0, N209,N224 ]

In [ ]:
result = pd.concat(frames)

In [ ]:
result

           Id   Creation    Session  ...    Sector Group    NewBatch
93896  239961 2021-08-11 2021-08-11  ...  Informal   PPT  PPT0000011
95639  241230 2021-08-16 2021-08-16  ...  Informal   PPT  PPT0000012
95655  241975 2021-08-16 2021-08-16  ...    Formal   PPT  PPT0000013
97884  244503 2021-08-19 2021-08-19  ...  Informal   PPT  PPT0000014
98836  246209 2021-08-21 2021-08-21  ...  Informal   PPT  PPT0000015
...       ...        ...        ...  ...       ...   ...         ...
93282  238596 2021-08-10 2021-08-10  ...  Informal   PA0         NaN
93336  239591 2021-08-10 2021-08-10  ...  Informal   PA0         NaN
93337  239593 2021-08-10 2021-08-10  ...  Informal   PA0         NaN
84027  228175 2021-07-15 2021-07-15  ...  Informal   209         NaN
80375  224873 2021-07-06 2021-07-06  ...  Informal   224         NaN

[150815 rows x 21 columns]

In [ ]:
result.NewBatch.fillna('Actual',inplace=True)

In [ ]:
result.Age.fillna(method='pad',inplace=True)

In [ ]:
result.isnull().sum()

Id                  0
Creation            0
Session             0
Batch               0
Mobile              1
Product             0
SchemeNumber        0
Gender             24
Age                 0
Age Group          24
Other           31179
Username            0
Method              9
Method Used         0
Type                0
Reference         163
Contribution        0
Withdrawal          0
Sector              0
Group               0
NewBatch            0
dtype: int64

In [ ]:
result['Reversal'] = result.iloc[:,3].str[-2:]

In [ ]:
result.loc[result['Reversal'] == '/1', 'Status'] = 'Reversal' 
result.loc[result['Reversal'] != '/1', 'Status'] = 'Actual'

In [ ]:
result

           Id   Creation    Session  ...    NewBatch Reversal  Status
93896  239961 2021-08-11 2021-08-11  ...  PPT0000011       11  Actual
95639  241230 2021-08-16 2021-08-16  ...  PPT0000012       12  Actual
95655  241975 2021-08-16 2021-08-16  ...  PPT0000013       13  Actual
97884  244503 2021-08-19 2021-08-19  ...  PPT0000014       14  Actual
98836  246209 2021-08-21 2021-08-21  ...  PPT0000015       15  Actual
...       ...        ...        ...  ...         ...      ...     ...
93282  238596 2021-08-10 2021-08-10  ...      Actual       08  Actual
93336  239591 2021-08-10 2021-08-10  ...      Actual       09  Actual
93337  239593 2021-08-10 2021-08-10  ...      Actual       10  Actual
84027  228175 2021-07-15 2021-07-15  ...      Actual       09  Actual
80375  224873 2021-07-06 2021-07-06  ...      Actual       24  Actual

[150815 rows x 23 columns]

In [ ]:
result.Status.value_counts()

Actual      147876
Reversal      2939
Name: Status, dtype: int64

In [ ]:
actual=result[result['Status']=='Actual']

In [ ]:
rever=result[result['Status']=='Reversal']

In [ ]:
rever

            Id   Creation    Session  ...      NewBatch Reversal    Status
108914  266081 2021-09-22 2021-09-16  ...    PPTMN13057       /1  Reversal
112393  268438 2021-09-28 2021-09-24  ...    PPT7DJ3860       /1  Reversal
140365  327595 2022-01-10 2021-12-08  ...    PPTOL27578       /1  Reversal
140817  327593 2022-01-10 2021-12-09  ...    PPTN429981       /1  Reversal
141245  327591 2022-01-10 2021-12-10  ...    PPT1F36306       /1  Reversal
...        ...        ...        ...  ...           ...      ...       ...
142436  323962 2022-01-04 2021-12-14  ...  TR0462170482       /1  Reversal
143836  237190 2021-08-05 2021-12-18  ...  TR0856188046       /1  Reversal
148129  328547 2022-01-11 2021-12-31  ...  TR0841357025       /1  Reversal
148130  328549 2022-01-11 2021-12-31  ...  TR0905492128       /1  Reversal
148131  328551 2022-01-11 2021-12-31  ...  TR0004478092       /1  Reversal

[2939 rows x 23 columns]

In [ ]:
actual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147876 entries, 93896 to 80375
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            147876 non-null  int64
 1   Creation      147876 non-null  datetime64[ns]
 2   Session       147876 non-null  datetime64[ns]
 3   Batch         147876 non-null  object
 4   Mobile        147875 non-null  object
 5   Product       147876 non-null  object
 6   SchemeNumber  147876 non-null  object
 7   Gender        147852 non-null  object
 8   Age           147876 non-null  float64
 9   Age Group     147852 non-null  object
 10  Other         116978 non-null  object
 11  Username      147876 non-null  object
 12  Method        147867 non-null  object
 13  Method Used   147876 non-null  object
 14  Type          147876 non-null  object
 15  Reference     147713 non-null  object
 16  Contribution  147876 non-null  float64
 17  Withdrawal    147876 non-null  float64
 18  Sector        147876 non-null  object
 19  Group         147876 non-null  object
 20  NewBatch      147876 non-null  object
 21  Reversal      147876 non-null  object
 22  Status        147876 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(17)
memory usage: 27.1+ MB

In [ ]:
rever.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2939 entries, 108914 to 148131
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2939 non-null   int64
 1   Creation      2939 non-null   datetime64[ns]
 2   Session       2939 non-null   datetime64[ns]
 3   Batch         2939 non-null   object
 4   Mobile        2939 non-null   object
 5   Product       2939 non-null   object
 6   SchemeNumber  2939 non-null   object
 7   Gender        2939 non-null   object
 8   Age           2939 non-null   float64
 9   Age Group     2939 non-null   object
 10  Other         2658 non-null   object
 11  Username      2939 non-null   object
 12  Method        2939 non-null   object
 13  Method Used   2939 non-null   object
 14  Type          2939 non-null   object
 15  Reference     2939 non-null   object
 16  Contribution  2939 non-null   float64
 17  Withdrawal    2939 non-null   float64
 18  Sector        2939 non-null   object
 19  Group         2939 non-null   object
 20  NewBatch      2939 non-null   object
 21  Reversal      2939 non-null   object
 22  Status        2939 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(1), object(17)
memory usage: 551.1+ KB

In [ ]:
C = actual.loc[~((actual.NewBatch.isin(rever["NewBatch"])))]

In [ ]:
C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144937 entries, 93896 to 80375
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            144937 non-null  int64
 1   Creation      144937 non-null  datetime64[ns]
 2   Session       144937 non-null  datetime64[ns]
 3   Batch         144937 non-null  object
 4   Mobile        144936 non-null  object
 5   Product       144937 non-null  object
 6   SchemeNumber  144937 non-null  object
 7   Gender        144913 non-null  object
 8   Age           144937 non-null  float64
 9   Age Group     144913 non-null  object
 10  Other         114320 non-null  object
 11  Username      144937 non-null  object
 12  Method        144928 non-null  object
 13  Method Used   144937 non-null  object
 14  Type          144937 non-null  object
 15  Reference     144779 non-null  object
 16  Contribution  144937 non-null  float64
 17  Withdrawal    144937 non-null  float64
 18  Sector        144937 non-null  object
 19  Group         144937 non-null  object
 20  NewBatch      144937 non-null  object
 21  Reversal      144937 non-null  object
 22  Status        144937 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(17)
memory usage: 26.5+ MB

In [ ]:
actual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147876 entries, 93896 to 80375
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            147876 non-null  int64
 1   Creation      147876 non-null  datetime64[ns]
 2   Session       147876 non-null  datetime64[ns]
 3   Batch         147876 non-null  object
 4   Mobile        147875 non-null  object
 5   Product       147876 non-null  object
 6   SchemeNumber  147876 non-null  object
 7   Gender        147852 non-null  object
 8   Age           147876 non-null  float64
 9   Age Group     147852 non-null  object
 10  Other         116978 non-null  object
 11  Username      147876 non-null  object
 12  Method        147867 non-null  object
 13  Method Used   147876 non-null  object
 14  Type          147876 non-null  object
 15  Reference     147713 non-null  object
 16  Contribution  147876 non-null  float64
 17  Withdrawal    147876 non-null  float64
 18  Sector        147876 non-null  object
 19  Group         147876 non-null  object
 20  NewBatch      147876 non-null  object
 21  Reversal      147876 non-null  object
 22  Status        147876 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(17)
memory usage: 27.1+ MB

In [ ]:
rever.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2939 entries, 108914 to 148131
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2939 non-null   int64
 1   Creation      2939 non-null   datetime64[ns]
 2   Session       2939 non-null   datetime64[ns]
 3   Batch         2939 non-null   object
 4   Mobile        2939 non-null   object
 5   Product       2939 non-null   object
 6   SchemeNumber  2939 non-null   object
 7   Gender        2939 non-null   object
 8   Age           2939 non-null   float64
 9   Age Group     2939 non-null   object
 10  Other         2658 non-null   object
 11  Username      2939 non-null   object
 12  Method        2939 non-null   object
 13  Method Used   2939 non-null   object
 14  Type          2939 non-null   object
 15  Reference     2939 non-null   object
 16  Contribution  2939 non-null   float64
 17  Withdrawal    2939 non-null   float64
 18  Sector        2939 non-null   object
 19  Group         2939 non-null   object
 20  NewBatch      2939 non-null   object
 21  Reversal      2939 non-null   object
 22  Status        2939 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(1), object(17)
memory usage: 551.1+ KB

In [ ]:
C.to_excel('New2020-2022.xlsx')