<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/AutodebitAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('maximus-autodebit_export-1645791374589.xlsx')

In [ ]:
df['CreationTime'] = pd.to_datetime(df['CreationTime'], errors ='ignore').dt.date
df['Firstpaymentdate'] = pd.to_datetime(df['Firstpaymentdate'], errors ='coerce').dt.date
df['Lastpaymentdate'] = pd.to_datetime(df['Lastpaymentdate'], errors ='coerce').dt.date
df['Nextpaymentdate'] = pd.to_datetime(df['Nextpaymentdate'], errors ='coerce').dt.date

In [ ]:
c = pd.to_datetime('2022-03-28').date()

In [ ]:
d = df.loc[df['CreationTime'] <= c]

In [ ]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2194 entries, 0 to 2193
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Code              2194 non-null   object
 1   Schemenumber      2194 non-null   object
 2   Mobile            2194 non-null   int64
 3   Network           2194 non-null   object
 4   Amount            2194 non-null   float64
 5   Frequency         2194 non-null   object
 6   Firstpaymentdate  2194 non-null   object
 7   Lastpaymentdate   2194 non-null   object
 8   Nextpaymentdate   2194 non-null   object
 9   Status            2194 non-null   object
 10  CreationTime      2194 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 205.7+ KB

In [ ]:
date = pd.to_datetime('2021-12-31').date()

In [ ]:
a = df.loc[((df['Firstpaymentdate'] <= date) & (df['Status'] == 'Active'))]

In [ ]:
a

         Code   Schemenumber        Mobile  ... Nextpaymentdate  Status CreationTime
216   ADC3399  1010PPS044145  233202144859  ...      2022-03-03  Active   2021-12-29
217   AD35398  1010PPS009040  233507089363  ...      2022-01-03  Active   2021-12-29
218   AD48397  1010PPS045000  233559024442  ...      2021-12-25  Active   2021-12-25
219   ADZ7396  1010PPS006041  233249978807  ...      2022-03-25  Active   2021-12-25
220   ADU1395  1010PPS014576  233549360203  ...      2022-02-25  Active   2021-12-25
...       ...            ...           ...  ...             ...     ...          ...
2188    14201  1010PPS006364  233242746290  ...      2022-03-13  Active   2019-11-12
2189    14196  1010PPS006727  233552373815  ...      2022-03-01  Active   2019-11-11
2190    14192  1010PPS008032  233246206078  ...      2022-02-01  Active   2019-11-11
2191    14191  1010PPS008316  233243384308  ...      2022-03-01  Active   2019-11-11
2193    14099  1010PPS004780  233547060469  ...      2022-01-25  Active   2019-11-04

[1806 rows x 11 columns]

In [ ]:
a['days'] = date - a['Firstpaymentdate']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
a.loc[a["Frequency"]=='DAILY', "RATE"] = 30
a.loc[a["Frequency"]=='MONTHLY', "RATE"] = 1
a.loc[a["Frequency"]=='WEEKLY', "RATE"] = 4

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
a['value'] = a.Amount * a.RATE

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
a.value.sum()

215877.81000000003