In [ ]:
import pandas as pd
import glob

In [ ]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.2)

In [ ]:
#reading main excel file and converting into dataframe
df = pd.read_excel('BDM_DataRequest_130122.xlsx',engine='openpyxl')

In [ ]:
df

                     Full Name  Member number  ...        Type              Agent
0                  AGNES AGNES      397290347  ...        CASH                NaN
1              FELICIA FELICIA      691910216  ...     UNKNOWN                NaN
2            CUSTOMER CUSTOMER      520994981  ...     UNKNOWN                NaN
3      RICHARD NII RICHARD NII      173140204  ...     UNKNOWN                NaN
4                JOSEPH JOSEPH      240204272  ...        CASH                NaN
...                        ...            ...  ...         ...                ...
44782           EVELYN ABOAGYE      797562246  ...  AUTO DEBIT        LAUD MENSAH
44783         AUGUSTINA LEMAWU      432678409  ...     UNKNOWN        LAUD MENSAH
44784          LETICIA ASIAMAH      925766342  ...        CASH        LAUD MENSAH
44785          GEORGINA KORVEH      936857732  ...  AUTO DEBIT        LAUD MENSAH
44786        TEST CAN-TAMAKLOE      918011953  ...     UNKNOWN  DIASPORA HOMECARE

[44787 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44787 entries, 0 to 44786
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Full Name        44787 non-null  object
 1   Member number    44787 non-null  int64
 2   [Scheme number]  44787 non-null  object
 3   Mobile           44786 non-null  float64
 4   Date of birth    44787 non-null  object
 5   [Scheme name]    44787 non-null  object
 6   Status           44787 non-null  object
 7   Previous AD      44787 non-null  object
 8   Type             44787 non-null  object
 9   Agent            44769 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

In [ ]:
#filling all nullvalues in 'Type' column with "UNKNOWN"
df['Agent'] = df['Agent'].fillna('UNKNOWN')

In [ ]:
df

                     Full Name  Member number  ...        Type              Agent
0                  AGNES AGNES      397290347  ...        CASH            UNKNOWN
1              FELICIA FELICIA      691910216  ...     UNKNOWN            UNKNOWN
2            CUSTOMER CUSTOMER      520994981  ...     UNKNOWN            UNKNOWN
3      RICHARD NII RICHARD NII      173140204  ...     UNKNOWN            UNKNOWN
4                JOSEPH JOSEPH      240204272  ...        CASH            UNKNOWN
...                        ...            ...  ...         ...                ...
44782           EVELYN ABOAGYE      797562246  ...  AUTO DEBIT        LAUD MENSAH
44783         AUGUSTINA LEMAWU      432678409  ...     UNKNOWN        LAUD MENSAH
44784          LETICIA ASIAMAH      925766342  ...        CASH        LAUD MENSAH
44785          GEORGINA KORVEH      936857732  ...  AUTO DEBIT        LAUD MENSAH
44786        TEST CAN-TAMAKLOE      918011953  ...     UNKNOWN  DIASPORA HOMECARE

[44787 rows x 10 columns]

In [ ]:
#unique values for Agent
df['Agent'].explode().value_counts()

DENNIS AGGREY OTOO              15147
BEATRICE GYAMARKIE               7426
YAA ASAMOAH                      2592
NEW AGENT(PRINCE BOATENG)         984
NANCY CHRISTIANA BIRIWAA          938
                                ...
RACHAEL TETTEY                      1
CAROLINE ASEYE GBADEGBENYO\t        1
ADOMBIRE MARYANNE AGANA             1
ERNEST AGBESI                       1
GIZ-HO MSME PROJECT                 1
Name: Agent, Length: 101, dtype: int64

In [ ]:
#grouping dataframe by Agent
grouped = df.groupby(df.Agent)
agents = grouped.groups.keys()

In [ ]:
#splitting dataframe into different excel sheets and saving them in colab folder
for agent in agents:
  splitdf = grouped.get_group(agent)
  splitdf.to_excel(str(agent)+".xlsx", engine='xlsxwriter')

In [ ]:
#this code zips up content folder of colab so files can be downloaded
!zip -r /content/file.zip /content/

In [ ]:
names = df['Type'].unique().tolist()
writer = pd.ExcelWriter("DAVID OFORI.xlsx", engine='xlsxwriter')
for t in names:
  mytype = df.loc[df.Type == t]
  mytype.to_excel(writer,sheet_name = t)
writer.save()

After files have been downloaded, they are then uploaded to google drive so we can read and access them for the next phase

In [ ]:
# defining a path to enable colab read files from my goole drive account
path =r"/content/drive/MyDrive/content/"
filenames = glob.glob(path + "/*.xlsx")
print('File names:', filenames)

In [ ]:
# read multiple excel files
for file in filenames:
   print("\nReading file = ",file)
   print(pd.read_excel(file))

In [ ]:
# assign excel files to a dataframe
df2=pd.read_excel(file)

In [ ]:
# function to read excel files and assign sheets based on the 'type' column in each excel 
for file in filenames:
  df2=pd.read_excel(file)
  names = df2['Type'].unique().tolist()
  writer = pd.ExcelWriter(file, engine='xlsxwriter')
  for t in names:
      mytype = df2.loc[df2.Type == t]
      mytype.to_excel(writer,sheet_name = t)
  writer.save()