<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/finalagentreport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import packages
import pandas as pd
import numpy as np
#!pip install xlsxwriter
#!pip install openpyxl --upgrade --pre

In [2]:
df_mth = pd.read_excel('MerchantTransactionHistoryAgentWise_03_02_2022_to_03_02_2022.xlsx')
df_mp = pd.read_excel('maximus-payment_export-1643968571337.xlsx')

In [3]:
df_mp1 = df_mp[['tranid','source']] #picking out only two columns from main data
df_mp1.rename(columns={'tranid': 'Merchant Ref.Code'}, inplace=True) #renaming columns for cohesion

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [4]:
df_mth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    301 non-null    int64
 1   Trans.Date                  301 non-null    object
 2   Settlement Date             301 non-null    object
 3   Value Date                  301 non-null    object
 4   Interpay Ref No             301 non-null    int64
 5   Fee Type                    301 non-null    object
 6   Invoice Amount              301 non-null    float64
 7   Invoice Currency            301 non-null    object
 8   Transacted Amount           301 non-null    float64
 9   Transacted Currency         301 non-null    object
 10  Commission Amount           301 non-null    float64
 11  Net to Merchant             301 non-null    float64
 12  Payee Name                  301 non-null    object
 13  Payee Mobile                301 non-null    int64
 14  Payee Email                 294 non-null    object
 15  Merchant Ref.Code           301 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            301 non-null    object
 18  Payment Mode Name           301 non-null    object
 19  Payment Mode Reference      301 non-null    object
 20  Bank Name                   301 non-null    object
 21  Bank Account                301 non-null    int64
 22  Transaction Source          301 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     301 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
dtypes: float64(10), int64(5), object(14)
memory usage: 68.3+ KB

In [5]:
#this code determines the source of payments( AUTODEBIT,USSD,etc.)
df_mth1 = pd.merge( df_mth, df_mp1,
                      on ='Merchant Ref.Code', 
                      how ='left') 
df_mth1.rename(columns={'Payee Mobile': 'Mobile'}, inplace=True)#renaming columns for cohession
df_mth1['source'].fillna('Not Available',inplace = True)

In [6]:
df_mth1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 300
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    301 non-null    int64
 1   Trans.Date                  301 non-null    object
 2   Settlement Date             301 non-null    object
 3   Value Date                  301 non-null    object
 4   Interpay Ref No             301 non-null    int64
 5   Fee Type                    301 non-null    object
 6   Invoice Amount              301 non-null    float64
 7   Invoice Currency            301 non-null    object
 8   Transacted Amount           301 non-null    float64
 9   Transacted Currency         301 non-null    object
 10  Commission Amount           301 non-null    float64
 11  Net to Merchant             301 non-null    float64
 12  Payee Name                  301 non-null    object
 13  Mobile                      301 non-null    int64
 14  Payee Email                 294 non-null    object
 15  Merchant Ref.Code           301 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            301 non-null    object
 18  Payment Mode Name           301 non-null    object
 19  Payment Mode Reference      301 non-null    object
 20  Bank Name                   301 non-null    object
 21  Bank Account                301 non-null    int64
 22  Transaction Source          301 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     301 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      301 non-null    object
dtypes: float64(10), int64(5), object(15)
memory usage: 72.9+ KB

In [7]:
md = pd.read_excel('md0102.xlsx') #member dump
md =md[['agentname', 'Mobile']]

In [8]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53906 entries, 0 to 53905
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  53888 non-null  object
 1   Mobile     53906 non-null  object
dtypes: object(2)
memory usage: 842.4+ KB

In [9]:
agrf1 = pd.read_excel('agentupdate.xlsx')
agrf1 =agrf1[['agentname', 'Mobile']]

In [10]:
agentonly = df_mth1[df_mth1['source'] == 'AGENT']

In [11]:
agentonly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 32 to 150
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    41 non-null     int64
 1   Trans.Date                  41 non-null     object
 2   Settlement Date             41 non-null     object
 3   Value Date                  41 non-null     object
 4   Interpay Ref No             41 non-null     int64
 5   Fee Type                    41 non-null     object
 6   Invoice Amount              41 non-null     float64
 7   Invoice Currency            41 non-null     object
 8   Transacted Amount           41 non-null     float64
 9   Transacted Currency         41 non-null     object
 10  Commission Amount           41 non-null     float64
 11  Net to Merchant             41 non-null     float64
 12  Payee Name                  41 non-null     object
 13  Mobile                      41 non-null     int64
 14  Payee Email                 41 non-null     object
 15  Merchant Ref.Code           41 non-null     object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            41 non-null     object
 18  Payment Mode Name           41 non-null     object
 19  Payment Mode Reference      41 non-null     object
 20  Bank Name                   41 non-null     object
 21  Bank Account                41 non-null     int64
 22  Transaction Source          41 non-null     object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     41 non-null     int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      41 non-null     object
dtypes: float64(10), int64(5), object(15)
memory usage: 9.9+ KB

In [12]:
agrf2 = agrf1.drop_duplicates(subset=['Mobile'])

In [13]:
agrf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 0 to 116
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  101 non-null    object
 1   Mobile     101 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [14]:
df_mth2 = pd.merge( agentonly, agrf2,
                      on ='Mobile', 
                      how ='left')

In [15]:
df_mth2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    41 non-null     int64
 1   Trans.Date                  41 non-null     object
 2   Settlement Date             41 non-null     object
 3   Value Date                  41 non-null     object
 4   Interpay Ref No             41 non-null     int64
 5   Fee Type                    41 non-null     object
 6   Invoice Amount              41 non-null     float64
 7   Invoice Currency            41 non-null     object
 8   Transacted Amount           41 non-null     float64
 9   Transacted Currency         41 non-null     object
 10  Commission Amount           41 non-null     float64
 11  Net to Merchant             41 non-null     float64
 12  Payee Name                  41 non-null     object
 13  Mobile                      41 non-null     int64
 14  Payee Email                 41 non-null     object
 15  Merchant Ref.Code           41 non-null     object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            41 non-null     object
 18  Payment Mode Name           41 non-null     object
 19  Payment Mode Reference      41 non-null     object
 20  Bank Name                   41 non-null     object
 21  Bank Account                41 non-null     int64
 22  Transaction Source          41 non-null     object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     41 non-null     int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      41 non-null     object
 30  agentname                   41 non-null     object
dtypes: float64(10), int64(5), object(16)
memory usage: 10.2+ KB

In [16]:
#df_mth2.to_excel('agentonly.xlsx')

In [17]:
others  = df_mth1.drop(df_mth1[df_mth1.source == 'AGENT'].index)

In [18]:
others.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 0 to 300
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    260 non-null    int64
 1   Trans.Date                  260 non-null    object
 2   Settlement Date             260 non-null    object
 3   Value Date                  260 non-null    object
 4   Interpay Ref No             260 non-null    int64
 5   Fee Type                    260 non-null    object
 6   Invoice Amount              260 non-null    float64
 7   Invoice Currency            260 non-null    object
 8   Transacted Amount           260 non-null    float64
 9   Transacted Currency         260 non-null    object
 10  Commission Amount           260 non-null    float64
 11  Net to Merchant             260 non-null    float64
 12  Payee Name                  260 non-null    object
 13  Mobile                      260 non-null    int64
 14  Payee Email                 253 non-null    object
 15  Merchant Ref.Code           260 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            260 non-null    object
 18  Payment Mode Name           260 non-null    object
 19  Payment Mode Reference      260 non-null    object
 20  Bank Name                   260 non-null    object
 21  Bank Account                260 non-null    int64
 22  Transaction Source          260 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     260 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      260 non-null    object
dtypes: float64(10), int64(5), object(15)
memory usage: 63.0+ KB

In [19]:
md1 = md.drop_duplicates(subset=['Mobile'])

In [20]:
others1 = pd.merge( others, md1,
                      on ='Mobile', 
                      how ='left')

In [21]:
others1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 0 to 259
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    260 non-null    int64
 1   Trans.Date                  260 non-null    object
 2   Settlement Date             260 non-null    object
 3   Value Date                  260 non-null    object
 4   Interpay Ref No             260 non-null    int64
 5   Fee Type                    260 non-null    object
 6   Invoice Amount              260 non-null    float64
 7   Invoice Currency            260 non-null    object
 8   Transacted Amount           260 non-null    float64
 9   Transacted Currency         260 non-null    object
 10  Commission Amount           260 non-null    float64
 11  Net to Merchant             260 non-null    float64
 12  Payee Name                  260 non-null    object
 13  Mobile                      260 non-null    object
 14  Payee Email                 253 non-null    object
 15  Merchant Ref.Code           260 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            260 non-null    object
 18  Payment Mode Name           260 non-null    object
 19  Payment Mode Reference      260 non-null    object
 20  Bank Name                   260 non-null    object
 21  Bank Account                260 non-null    int64
 22  Transaction Source          260 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     260 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      260 non-null    object
 30  agentname                   252 non-null    object
dtypes: float64(10), int64(4), object(17)
memory usage: 65.0+ KB

In [22]:
others1.Mobile.value_counts()

233555977978    3
233551884722    3
233544006649    3
233242158138    3
233249332649    3
               ..
233277703678    1
233554680873    1
233277779426    1
233243375928    1
233244485236    1
Name: Mobile, Length: 232, dtype: int64

In [23]:
#others1.to_excel('others1.xlsx')

In [24]:
final = pd.concat([df_mth2, others1 ])

In [25]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 259
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    301 non-null    int64
 1   Trans.Date                  301 non-null    object
 2   Settlement Date             301 non-null    object
 3   Value Date                  301 non-null    object
 4   Interpay Ref No             301 non-null    int64
 5   Fee Type                    301 non-null    object
 6   Invoice Amount              301 non-null    float64
 7   Invoice Currency            301 non-null    object
 8   Transacted Amount           301 non-null    float64
 9   Transacted Currency         301 non-null    object
 10  Commission Amount           301 non-null    float64
 11  Net to Merchant             301 non-null    float64
 12  Payee Name                  301 non-null    object
 13  Mobile                      301 non-null    object
 14  Payee Email                 294 non-null    object
 15  Merchant Ref.Code           301 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            301 non-null    object
 18  Payment Mode Name           301 non-null    object
 19  Payment Mode Reference      301 non-null    object
 20  Bank Name                   301 non-null    object
 21  Bank Account                301 non-null    int64
 22  Transaction Source          301 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     301 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      301 non-null    object
 30  agentname                   293 non-null    object
dtypes: float64(10), int64(4), object(17)
memory usage: 75.2+ KB

In [26]:
final.agentname = final.agentname.str.upper()#converts agentname to capital letters

In [27]:
final1 = pd.pivot_table(final, index = ['agentname'], columns = ['source'], values = ['Net to Merchant'],aggfunc = np.sum)

In [ ]:
final1

In [29]:
final1.to_excel('03jan.xlsx')