<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/finalagentreport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
#import packages
import pandas as pd
import numpy as np
#!pip install xlsxwriter
#!pip install openpyxl --upgrade --pre

In [73]:
df_mth = pd.read_excel('MerchantTransactionHistoryAgentWise_24_01_2022_to_30_01_2022.xlsx')
df_mp = pd.read_excel('maximus-payment_export-1643625904187.xlsx')

In [74]:
df_mp1 = df_mp[['tranid','source']] #picking out only two columns from main data
df_mp1.rename(columns={'tranid': 'Merchant Ref.Code'}, inplace=True) #renaming columns for cohesion

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [75]:
df_mth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1828 entries, 0 to 1827
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    1828 non-null   int64
 1   Trans.Date                  1828 non-null   object
 2   Settlement Date             1828 non-null   object
 3   Value Date                  1828 non-null   object
 4   Interpay Ref No             1828 non-null   int64
 5   Fee Type                    1828 non-null   object
 6   Invoice Amount              1828 non-null   float64
 7   Invoice Currency            1828 non-null   object
 8   Transacted Amount           1828 non-null   float64
 9   Transacted Currency         1828 non-null   object
 10  Commission Amount           1828 non-null   float64
 11  Net to Merchant             1828 non-null   float64
 12  Payee Name                  1827 non-null   object
 13  Payee Mobile                1828 non-null   int64
 14  Payee Email                 1824 non-null   object
 15  Merchant Ref.Code           1828 non-null   object
 16  Merchant-Client Code        1 non-null      object
 17  Transaction Type            1828 non-null   object
 18  Payment Mode Name           1828 non-null   object
 19  Payment Mode Reference      1827 non-null   object
 20  Bank Name                   1828 non-null   object
 21  Bank Account                1828 non-null   int64
 22  Transaction Source          1827 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     1828 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
dtypes: float64(9), int64(5), object(15)
memory usage: 414.3+ KB

In [76]:
#this code determines the source of payments( AUTODEBIT,USSD,etc.)
df_mth1 = pd.merge( df_mth, df_mp1,
                      on ='Merchant Ref.Code', 
                      how ='left') 
df_mth1.rename(columns={'Payee Mobile': 'Mobile'}, inplace=True)#renaming columns for cohession
df_mth1['source'].fillna('Not Available',inplace = True)

In [77]:
df_mth1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1828 entries, 0 to 1827
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    1828 non-null   int64
 1   Trans.Date                  1828 non-null   object
 2   Settlement Date             1828 non-null   object
 3   Value Date                  1828 non-null   object
 4   Interpay Ref No             1828 non-null   int64
 5   Fee Type                    1828 non-null   object
 6   Invoice Amount              1828 non-null   float64
 7   Invoice Currency            1828 non-null   object
 8   Transacted Amount           1828 non-null   float64
 9   Transacted Currency         1828 non-null   object
 10  Commission Amount           1828 non-null   float64
 11  Net to Merchant             1828 non-null   float64
 12  Payee Name                  1827 non-null   object
 13  Mobile                      1828 non-null   int64
 14  Payee Email                 1824 non-null   object
 15  Merchant Ref.Code           1828 non-null   object
 16  Merchant-Client Code        1 non-null      object
 17  Transaction Type            1828 non-null   object
 18  Payment Mode Name           1828 non-null   object
 19  Payment Mode Reference      1827 non-null   object
 20  Bank Name                   1828 non-null   object
 21  Bank Account                1828 non-null   int64
 22  Transaction Source          1827 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     1828 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      1828 non-null   object
dtypes: float64(9), int64(5), object(16)
memory usage: 442.7+ KB

In [78]:
md = pd.read_excel('md0102.xlsx') #member dump
md =md[['agentname', 'Mobile']]

In [79]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53906 entries, 0 to 53905
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  53888 non-null  object
 1   Mobile     53906 non-null  object
dtypes: object(2)
memory usage: 842.4+ KB

In [80]:
agrf1 = pd.read_excel('agrf1.xlsx')
agrf1 =agrf1[['agentname', 'Mobile']]

In [81]:
agentonly = df_mth1[df_mth1['source'] == 'AGENT']

In [82]:
agentonly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 48 to 1731
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    306 non-null    int64
 1   Trans.Date                  306 non-null    object
 2   Settlement Date             306 non-null    object
 3   Value Date                  306 non-null    object
 4   Interpay Ref No             306 non-null    int64
 5   Fee Type                    306 non-null    object
 6   Invoice Amount              306 non-null    float64
 7   Invoice Currency            306 non-null    object
 8   Transacted Amount           306 non-null    float64
 9   Transacted Currency         306 non-null    object
 10  Commission Amount           306 non-null    float64
 11  Net to Merchant             306 non-null    float64
 12  Payee Name                  306 non-null    object
 13  Mobile                      306 non-null    int64
 14  Payee Email                 306 non-null    object
 15  Merchant Ref.Code           306 non-null    object
 16  Merchant-Client Code        0 non-null      object
 17  Transaction Type            306 non-null    object
 18  Payment Mode Name           306 non-null    object
 19  Payment Mode Reference      306 non-null    object
 20  Bank Name                   306 non-null    object
 21  Bank Account                306 non-null    int64
 22  Transaction Source          306 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     306 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      306 non-null    object
dtypes: float64(9), int64(5), object(16)
memory usage: 74.1+ KB

In [83]:
agrf2 = agrf1.drop_duplicates(subset=['Mobile'])

In [84]:
agrf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 87
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  86 non-null     object
 1   Mobile     86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 2.0+ KB

In [85]:
df_mth2 = pd.merge( agentonly, agrf2,
                      on ='Mobile', 
                      how ='left')

In [86]:
df_mth2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 0 to 305
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    306 non-null    int64
 1   Trans.Date                  306 non-null    object
 2   Settlement Date             306 non-null    object
 3   Value Date                  306 non-null    object
 4   Interpay Ref No             306 non-null    int64
 5   Fee Type                    306 non-null    object
 6   Invoice Amount              306 non-null    float64
 7   Invoice Currency            306 non-null    object
 8   Transacted Amount           306 non-null    float64
 9   Transacted Currency         306 non-null    object
 10  Commission Amount           306 non-null    float64
 11  Net to Merchant             306 non-null    float64
 12  Payee Name                  306 non-null    object
 13  Mobile                      306 non-null    int64
 14  Payee Email                 306 non-null    object
 15  Merchant Ref.Code           306 non-null    object
 16  Merchant-Client Code        0 non-null      object
 17  Transaction Type            306 non-null    object
 18  Payment Mode Name           306 non-null    object
 19  Payment Mode Reference      306 non-null    object
 20  Bank Name                   306 non-null    object
 21  Bank Account                306 non-null    int64
 22  Transaction Source          306 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     306 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      306 non-null    object
 30  agentname                   294 non-null    object
dtypes: float64(9), int64(5), object(17)
memory usage: 76.5+ KB

In [87]:
#df_mth2.to_excel('agentonly.xlsx')

In [88]:
others  = df_mth1.drop(df_mth1[df_mth1.source == 'AGENT'].index)

In [89]:
others.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1522 entries, 0 to 1827
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    1522 non-null   int64
 1   Trans.Date                  1522 non-null   object
 2   Settlement Date             1522 non-null   object
 3   Value Date                  1522 non-null   object
 4   Interpay Ref No             1522 non-null   int64
 5   Fee Type                    1522 non-null   object
 6   Invoice Amount              1522 non-null   float64
 7   Invoice Currency            1522 non-null   object
 8   Transacted Amount           1522 non-null   float64
 9   Transacted Currency         1522 non-null   object
 10  Commission Amount           1522 non-null   float64
 11  Net to Merchant             1522 non-null   float64
 12  Payee Name                  1521 non-null   object
 13  Mobile                      1522 non-null   int64
 14  Payee Email                 1518 non-null   object
 15  Merchant Ref.Code           1522 non-null   object
 16  Merchant-Client Code        1 non-null      object
 17  Transaction Type            1522 non-null   object
 18  Payment Mode Name           1522 non-null   object
 19  Payment Mode Reference      1521 non-null   object
 20  Bank Name                   1522 non-null   object
 21  Bank Account                1522 non-null   int64
 22  Transaction Source          1521 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     1522 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      1522 non-null   object
dtypes: float64(9), int64(5), object(16)
memory usage: 368.6+ KB

In [90]:
md1 = md.drop_duplicates(subset=['Mobile'])

In [91]:
others1 = pd.merge( others, md1,
                      on ='Mobile', 
                      how ='left')

In [92]:
others1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1522 entries, 0 to 1521
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    1522 non-null   int64
 1   Trans.Date                  1522 non-null   object
 2   Settlement Date             1522 non-null   object
 3   Value Date                  1522 non-null   object
 4   Interpay Ref No             1522 non-null   int64
 5   Fee Type                    1522 non-null   object
 6   Invoice Amount              1522 non-null   float64
 7   Invoice Currency            1522 non-null   object
 8   Transacted Amount           1522 non-null   float64
 9   Transacted Currency         1522 non-null   object
 10  Commission Amount           1522 non-null   float64
 11  Net to Merchant             1522 non-null   float64
 12  Payee Name                  1521 non-null   object
 13  Mobile                      1522 non-null   object
 14  Payee Email                 1518 non-null   object
 15  Merchant Ref.Code           1522 non-null   object
 16  Merchant-Client Code        1 non-null      object
 17  Transaction Type            1522 non-null   object
 18  Payment Mode Name           1522 non-null   object
 19  Payment Mode Reference      1521 non-null   object
 20  Bank Name                   1522 non-null   object
 21  Bank Account                1522 non-null   int64
 22  Transaction Source          1521 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     1522 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      1522 non-null   object
 30  agentname                   1507 non-null   object
dtypes: float64(9), int64(4), object(18)
memory usage: 380.5+ KB

In [93]:
others1.Mobile.value_counts()

233264330988    24
233249532771    10
233245032189    10
233244419030    10
233277404627     9
                ..
233545503371     1
233241984291     1
233244230815     1
233244950220     1
233243766265     1
Name: Mobile, Length: 773, dtype: int64

In [94]:
#others1.to_excel('others1.xlsx')

In [95]:
final = pd.concat([df_mth2, others1 ])

In [96]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1828 entries, 0 to 1521
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    1828 non-null   int64
 1   Trans.Date                  1828 non-null   object
 2   Settlement Date             1828 non-null   object
 3   Value Date                  1828 non-null   object
 4   Interpay Ref No             1828 non-null   int64
 5   Fee Type                    1828 non-null   object
 6   Invoice Amount              1828 non-null   float64
 7   Invoice Currency            1828 non-null   object
 8   Transacted Amount           1828 non-null   float64
 9   Transacted Currency         1828 non-null   object
 10  Commission Amount           1828 non-null   float64
 11  Net to Merchant             1828 non-null   float64
 12  Payee Name                  1827 non-null   object
 13  Mobile                      1828 non-null   object
 14  Payee Email                 1824 non-null   object
 15  Merchant Ref.Code           1828 non-null   object
 16  Merchant-Client Code        1 non-null      object
 17  Transaction Type            1828 non-null   object
 18  Payment Mode Name           1828 non-null   object
 19  Payment Mode Reference      1827 non-null   object
 20  Bank Name                   1828 non-null   object
 21  Bank Account                1828 non-null   int64
 22  Transaction Source          1827 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     1828 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      1828 non-null   object
 30  agentname                   1801 non-null   object
dtypes: float64(9), int64(4), object(18)
memory usage: 457.0+ KB

In [97]:
final.agentname = final.agentname.str.upper()#converts agentname to capital letters

In [98]:
final1 = pd.pivot_table(final, index = ['agentname'], columns = ['source'], values = ['Net to Merchant'],aggfunc = np.sum)

In [99]:
final1

                             Net to Merchant            ...
source                                 AGENT AUTODEBIT  ...   Tier2   USSD
agentname                                               ...
  CAROLINE NAA NUNOO\t                   NaN     13.05  ...     NaN    NaN
 BAGONLURI SUNG - SUMA WENDY             NaN     22.10  ...     NaN    NaN
 HEIDI EFFRIM- ESSANDOH                  NaN      1.00  ...     NaN    NaN
 LOUISA BESIWA NUNOO                     NaN      1.00  ...     NaN    NaN
ABENA SERWAH OSEI                        NaN    150.68  ...  100.45    NaN
...                                      ...       ...  ...     ...    ...
SENSARAH OWUSUAA                         NaN      5.02  ...     NaN    NaN
STEPHEN AKANGISIBA                       NaN     25.11  ...  117.53    NaN
STEPHEN ATABOA                        271.25       NaN  ...     NaN    NaN
YAA ASAMOAH                              NaN    817.12  ...     NaN  133.6
YAKUBU UMMUL- KALSUM\t                   NaN      7.02  ...     NaN    NaN

[79 rows x 10 columns]

In [100]:
final1.to_excel('24to30report.xlsx')