<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/finalagentreport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [300]:
#import packages
import pandas as pd
import numpy as np
#!pip install xlsxwriter
#!pip install openpyxl --upgrade --pre

In [301]:
df_mth = pd.read_excel('MerchantTransactionHistoryAgentWise_09_02_2022_to_09_02_2022.xlsx')
df_mp = pd.read_excel('maximus-payment_export-1644483228424.xlsx')

In [302]:
df_mp1 = df_mp[['tranid','source']] #picking out only two columns from main data
df_mp1.rename(columns={'tranid': 'Merchant Ref.Code'}, inplace=True) #renaming columns for cohesion

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [303]:
df_mth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    307 non-null    int64
 1   Trans.Date                  307 non-null    object
 2   Settlement Date             307 non-null    object
 3   Value Date                  307 non-null    object
 4   Interpay Ref No             307 non-null    int64
 5   Fee Type                    307 non-null    object
 6   Invoice Amount              307 non-null    float64
 7   Invoice Currency            307 non-null    object
 8   Transacted Amount           307 non-null    float64
 9   Transacted Currency         307 non-null    object
 10  Commission Amount           307 non-null    float64
 11  Net to Merchant             307 non-null    float64
 12  Payee Name                  307 non-null    object
 13  Payee Mobile                307 non-null    int64
 14  Payee Email                 303 non-null    object
 15  Merchant Ref.Code           307 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            307 non-null    object
 18  Payment Mode Name           307 non-null    object
 19  Payment Mode Reference      307 non-null    object
 20  Bank Name                   307 non-null    object
 21  Bank Account                307 non-null    int64
 22  Transaction Source          307 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     307 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
dtypes: float64(10), int64(5), object(14)
memory usage: 69.7+ KB

In [304]:
#this code determines the source of payments( AUTODEBIT,USSD,etc.)
df_mth1 = pd.merge( df_mth, df_mp1,
                      on ='Merchant Ref.Code', 
                      how ='left') 
df_mth1.rename(columns={'Payee Mobile': 'Mobile'}, inplace=True)#renaming columns for cohession
df_mth1['source'].fillna('Not Available',inplace = True)

In [305]:
df_mth1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 0 to 306
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    307 non-null    int64
 1   Trans.Date                  307 non-null    object
 2   Settlement Date             307 non-null    object
 3   Value Date                  307 non-null    object
 4   Interpay Ref No             307 non-null    int64
 5   Fee Type                    307 non-null    object
 6   Invoice Amount              307 non-null    float64
 7   Invoice Currency            307 non-null    object
 8   Transacted Amount           307 non-null    float64
 9   Transacted Currency         307 non-null    object
 10  Commission Amount           307 non-null    float64
 11  Net to Merchant             307 non-null    float64
 12  Payee Name                  307 non-null    object
 13  Mobile                      307 non-null    int64
 14  Payee Email                 303 non-null    object
 15  Merchant Ref.Code           307 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            307 non-null    object
 18  Payment Mode Name           307 non-null    object
 19  Payment Mode Reference      307 non-null    object
 20  Bank Name                   307 non-null    object
 21  Bank Account                307 non-null    int64
 22  Transaction Source          307 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     307 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      307 non-null    object
dtypes: float64(10), int64(5), object(15)
memory usage: 74.4+ KB

In [306]:
md = pd.read_excel('md0102.xlsx') #member dump
md =md[['agentname', 'Mobile']]

In [307]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53925 entries, 0 to 53924
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  53907 non-null  object
 1   Mobile     53925 non-null  object
dtypes: object(2)
memory usage: 842.7+ KB

In [308]:
agrf1 = pd.read_excel('agentupdate.xlsx')
agrf1 =agrf1[['agentname', 'Mobile']]

In [309]:
agentonly = df_mth1[df_mth1['source'] == 'AGENT']

In [310]:
agentonly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 11 to 179
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    59 non-null     int64
 1   Trans.Date                  59 non-null     object
 2   Settlement Date             59 non-null     object
 3   Value Date                  59 non-null     object
 4   Interpay Ref No             59 non-null     int64
 5   Fee Type                    59 non-null     object
 6   Invoice Amount              59 non-null     float64
 7   Invoice Currency            59 non-null     object
 8   Transacted Amount           59 non-null     float64
 9   Transacted Currency         59 non-null     object
 10  Commission Amount           59 non-null     float64
 11  Net to Merchant             59 non-null     float64
 12  Payee Name                  59 non-null     object
 13  Mobile                      59 non-null     int64
 14  Payee Email                 59 non-null     object
 15  Merchant Ref.Code           59 non-null     object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            59 non-null     object
 18  Payment Mode Name           59 non-null     object
 19  Payment Mode Reference      59 non-null     object
 20  Bank Name                   59 non-null     object
 21  Bank Account                59 non-null     int64
 22  Transaction Source          59 non-null     object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     59 non-null     int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      59 non-null     object
dtypes: float64(10), int64(5), object(15)
memory usage: 14.3+ KB

In [311]:
agrf2 = agrf1.drop_duplicates(subset=['Mobile'])

In [312]:
agrf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 0 to 116
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  101 non-null    object
 1   Mobile     101 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [313]:
df_mth2 = pd.merge( agentonly, agrf2,
                      on ='Mobile', 
                      how ='left')

In [314]:
df_mth2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 0 to 58
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    59 non-null     int64
 1   Trans.Date                  59 non-null     object
 2   Settlement Date             59 non-null     object
 3   Value Date                  59 non-null     object
 4   Interpay Ref No             59 non-null     int64
 5   Fee Type                    59 non-null     object
 6   Invoice Amount              59 non-null     float64
 7   Invoice Currency            59 non-null     object
 8   Transacted Amount           59 non-null     float64
 9   Transacted Currency         59 non-null     object
 10  Commission Amount           59 non-null     float64
 11  Net to Merchant             59 non-null     float64
 12  Payee Name                  59 non-null     object
 13  Mobile                      59 non-null     int64
 14  Payee Email                 59 non-null     object
 15  Merchant Ref.Code           59 non-null     object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            59 non-null     object
 18  Payment Mode Name           59 non-null     object
 19  Payment Mode Reference      59 non-null     object
 20  Bank Name                   59 non-null     object
 21  Bank Account                59 non-null     int64
 22  Transaction Source          59 non-null     object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     59 non-null     int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      59 non-null     object
 30  agentname                   41 non-null     object
dtypes: float64(10), int64(5), object(16)
memory usage: 14.8+ KB

In [315]:
#df_mth2.to_excel('agentonly.xlsx')

In [316]:
others  = df_mth1.drop(df_mth1[df_mth1.source == 'AGENT'].index)

In [317]:
others.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 306
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    248 non-null    int64
 1   Trans.Date                  248 non-null    object
 2   Settlement Date             248 non-null    object
 3   Value Date                  248 non-null    object
 4   Interpay Ref No             248 non-null    int64
 5   Fee Type                    248 non-null    object
 6   Invoice Amount              248 non-null    float64
 7   Invoice Currency            248 non-null    object
 8   Transacted Amount           248 non-null    float64
 9   Transacted Currency         248 non-null    object
 10  Commission Amount           248 non-null    float64
 11  Net to Merchant             248 non-null    float64
 12  Payee Name                  248 non-null    object
 13  Mobile                      248 non-null    int64
 14  Payee Email                 244 non-null    object
 15  Merchant Ref.Code           248 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            248 non-null    object
 18  Payment Mode Name           248 non-null    object
 19  Payment Mode Reference      248 non-null    object
 20  Bank Name                   248 non-null    object
 21  Bank Account                248 non-null    int64
 22  Transaction Source          248 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     248 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      248 non-null    object
dtypes: float64(10), int64(5), object(15)
memory usage: 60.1+ KB

In [318]:
md1 = md.drop_duplicates(subset=['Mobile'])

In [319]:
others1 = pd.merge( others, md1,
                      on ='Mobile', 
                      how ='left')

In [320]:
others1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 247
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    248 non-null    int64
 1   Trans.Date                  248 non-null    object
 2   Settlement Date             248 non-null    object
 3   Value Date                  248 non-null    object
 4   Interpay Ref No             248 non-null    int64
 5   Fee Type                    248 non-null    object
 6   Invoice Amount              248 non-null    float64
 7   Invoice Currency            248 non-null    object
 8   Transacted Amount           248 non-null    float64
 9   Transacted Currency         248 non-null    object
 10  Commission Amount           248 non-null    float64
 11  Net to Merchant             248 non-null    float64
 12  Payee Name                  248 non-null    object
 13  Mobile                      248 non-null    object
 14  Payee Email                 244 non-null    object
 15  Merchant Ref.Code           248 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            248 non-null    object
 18  Payment Mode Name           248 non-null    object
 19  Payment Mode Reference      248 non-null    object
 20  Bank Name                   248 non-null    object
 21  Bank Account                248 non-null    int64
 22  Transaction Source          248 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     248 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      248 non-null    object
 30  agentname                   243 non-null    object
dtypes: float64(10), int64(4), object(17)
memory usage: 62.0+ KB

In [321]:
others1.Mobile.value_counts()

233559411694    3
233264330988    3
233245320388    3
233555598313    3
233555977978    3
               ..
233249205836    1
233246386738    1
233240899980    1
233276742993    1
233246245141    1
Name: Mobile, Length: 219, dtype: int64

In [322]:
#others1.to_excel('others1.xlsx')

In [323]:
final = pd.concat([df_mth2, others1 ])

In [324]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 0 to 247
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    307 non-null    int64
 1   Trans.Date                  307 non-null    object
 2   Settlement Date             307 non-null    object
 3   Value Date                  307 non-null    object
 4   Interpay Ref No             307 non-null    int64
 5   Fee Type                    307 non-null    object
 6   Invoice Amount              307 non-null    float64
 7   Invoice Currency            307 non-null    object
 8   Transacted Amount           307 non-null    float64
 9   Transacted Currency         307 non-null    object
 10  Commission Amount           307 non-null    float64
 11  Net to Merchant             307 non-null    float64
 12  Payee Name                  307 non-null    object
 13  Mobile                      307 non-null    object
 14  Payee Email                 303 non-null    object
 15  Merchant Ref.Code           307 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            307 non-null    object
 18  Payment Mode Name           307 non-null    object
 19  Payment Mode Reference      307 non-null    object
 20  Bank Name                   307 non-null    object
 21  Bank Account                307 non-null    int64
 22  Transaction Source          307 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     307 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      307 non-null    object
 30  agentname                   284 non-null    object
dtypes: float64(10), int64(4), object(17)
memory usage: 76.8+ KB

In [325]:
final.agentname = final.agentname.str.upper()#converts agentname to capital letters

In [326]:
final['agentname'] = final['agentname'].str.replace('ASANA BIAKA','ASANA BIANKA')
final['agentname'] = final['agentname'].str.replace('DELIGHT SELASE AZANDA','DELIGHT AZANDA')
final['agentname'] = final['agentname'].str.replace('ERIC ADU APPENTENG','ERIC APPENTENG')
final['agentname'] = final['agentname'].str.replace('NANCY CHRISTIANA BIRIWAA','NANCY BIRIWA')
final['agentname'] = final['agentname'].str.replace('ERNEST AFUN','ERNEST AFUM')
final['agentname'] = final['agentname'].str.replace('ERNEST EFFUM','ERNEST AFUM')
final['agentname'] = final['agentname'].str.replace('EUNICE VISION WORMADEY','EUNICE VISION')
final['agentname'] = final['agentname'].str.replace('NANCY BIRIWAA','NANCY BIRIWA')

final['agentname'] = final['agentname'].str.replace('PRISCILLA APPAU \t','PRISCILLA APPAU')
#final['agentname'] = final['agentname'].str.replace('NANCY CHRISTIANA BIRIWAAAA','NANCY BIRIWAA')

In [327]:
final['trans_type'] = np.where(final['source'] == 'AGENT', 'CASH', 'DIGITAL')

In [328]:
final

      Trans.ID             Trans.Date  ...       agentname trans_type
0    116308748  09/02/2022 10:18:08PM  ...     ERNEST AFUM       CASH
1    116308663  09/02/2022 10:16:34PM  ...     ERNEST AFUM       CASH
2    116308585  09/02/2022 10:15:37PM  ...     ERNEST AFUM       CASH
3    116308541  09/02/2022 10:14:49PM  ...     ERNEST AFUM       CASH
4    116308488  09/02/2022 10:14:06PM  ...     ERNEST AFUM       CASH
..         ...                    ...  ...             ...        ...
243  116166184  09/02/2022 12:07:32AM  ...   KELVIN BOAMAH    DIGITAL
244  116166160  09/02/2022 12:05:31AM  ...  OTHER CHANNELS    DIGITAL
245  116166131  09/02/2022 12:03:45AM  ...  OTHER CHANNELS    DIGITAL
246  116166121  09/02/2022 12:03:15AM  ...  BENJAMIN QUAYE    DIGITAL
247  116166056  09/02/2022 12:00:15AM  ...     YAA ASAMOAH    DIGITAL

[307 rows x 32 columns]

In [335]:
agent_list = pd.read_excel('agent_list.xlsx')

In [345]:
ag_list = pd.merge( final, agent_list,
                      on ='agentname', 
                      how ='right')

In [346]:
ag_list

        Trans.ID             Trans.Date  ...                 agentname trans_type
0            NaN                    NaN  ...         ABENA SERWAH OSEI        NaN
1    116248024.0  09/02/2022 02:15:09PM  ...              ASANA BIANKA       CASH
2    116173463.0  09/02/2022 06:53:53AM  ...              ASANA BIANKA    DIGITAL
3    116171052.0  09/02/2022 06:19:49AM  ...              ASANA BIANKA    DIGITAL
4    116168239.0  09/02/2022 04:42:10AM  ...              ASANA BIANKA    DIGITAL
..           ...                    ...  ...                       ...        ...
229          NaN                    NaN  ...       RICHMOND EDEM TSALA        NaN
230          NaN                    NaN  ...            WINFRED NYARKO        NaN
231          NaN                    NaN  ...  MABEL ADEI OPPONG KONADU        NaN
232          NaN                    NaN  ...         JUSTINA ANOSEDEMA        NaN
233          NaN                    NaN  ...          NAA DEEDEI ANNAG        NaN

[234 rows x 32 columns]

In [347]:
ag_list1 = pd.pivot_table(ag_list, index = ['agentname'], columns = ['trans_type'], values = ['Net to Merchant'],aggfunc = np.sum)

In [348]:
ag_list1

                     Net to Merchant
trans_type                      CASH  DIGITAL
agentname
ASANA BIANKA                   10.05    23.10
BENJAMIN QUAYE                   NaN   140.66
DAVID OFORI                      NaN    36.16
DELIGHT AZANDA                   NaN    32.15
DENNIS AGGREY OTOO               NaN  1331.04
DERRICK FILSON                   NaN    10.05
EMEFA TESSY                      NaN    10.05
ERIC APPENTENG                   NaN   366.14
ERNEST AFUM                   150.68    41.18
EUNICE VISION                    NaN    40.19
FLORENCE ZINKPIEW                NaN     5.02
FRANCIS OPPONG                   NaN    38.16
GIFTY LARTEY                     NaN    60.28
KELVIN BOAMAH                    NaN    30.14
LAUD MENSAH                      NaN   159.74
MANDY ASANTE                  351.59   582.66
MARY BUABENG                     NaN    10.05
MICHAEL BONSU                    NaN   316.45
MOSES NDIDA                   401.81    32.15
NANCY BIRIWA                     NaN   316.45
OBED APPIAH ASAMOAH              NaN     5.02
PRINCE OHENE                     NaN   160.74
PRISCILLA APPAU                  NaN    90.41
RICHARD NYARBI                   NaN    14.07
SAMUEL BOACHIE-ENNIN           34.17    30.15
YAA ASAMOAH                      NaN    80.37

In [329]:
final1 = pd.pivot_table(final, index = ['agentname'], columns = ['trans_type'], values = ['Net to Merchant'],aggfunc = np.sum)

In [330]:
final1

                               Net to Merchant
trans_type                                CASH  DIGITAL
agentname
ABIGAIL AFUA DANSOWAA                      NaN    20.09
ABRAHAM OTUMFO                             NaN    30.14
ASANA BIANKA                             10.05    23.10
BENJAMIN QUAYE                             NaN   140.66
DAVID OFORI                                NaN    36.16
DELIGHT AZANDA                             NaN    32.15
DENNIS AGGREY OTOO                         NaN  1331.04
DERRICK FILSON                             NaN    10.05
EMEFA TESSY                                NaN    10.05
EMMANUEL ABEKA( NEW AGENT)                 NaN    25.11
EMMANUEL AMOAANING( NEW AGENT)             NaN    80.37
ERIC APPENTENG                             NaN   366.14
ERNEST AFUM                             150.68    41.18
EUNICE VISION                              NaN    40.19
FELICIA QUARTEY                            NaN    20.09
FLORENCE ZINKPIEW                          NaN     5.02
FRANCIS OPPONG                             NaN    38.16
GIFTY LARTEY                               NaN    60.28
KELVIN BOAMAH                              NaN    30.14
LAUD MENSAH                                NaN   159.74
MANDY ASANTE                            351.59   582.66
MARTISON YEBOAH                            NaN    95.43
MARY BUABENG                               NaN    10.05
MICHAEL BONSU                              NaN   316.45
MILDRED AGYEIBEA( NEW AGENT)               NaN   110.51
MOSES NDIDA                             401.81    32.15
NAKOE SAMADU                               NaN   120.54
NANCY BIRIWA                               NaN   316.45
NANCYKWAO                               80.37      NaN
NEW AGENT( TOBIAS)                         NaN    30.13
NEW AGENT(ENESTINA NORTEY)                 NaN     5.02
NEW AGENT(FRANCIS KWARTENG)                NaN    50.23
NEW AGENT(PRINCE BOATENG)                  NaN     3.01
OBED APPIAH ASAMOAH                        NaN     5.02
OSEI JACKLINE OWUSUAA\t                    NaN     3.00
OTHER CHANNELS                             NaN   217.98
PHILIP KWAKU ACHEAMPONG                    NaN    20.09
PRINCE OHENE                               NaN    80.37
PRISCILLA APPAU                            NaN    90.41
PRISCILLA APPAU\t                       85.40      NaN
PRISCILLA OWUSU \t                         NaN     3.00
RICHARD NYARBI                             NaN    14.07
SAMUEL BOACHIE-ENNIN                     34.17    30.15
SUMAILA RAHEEMATU\t                        NaN     1.00
YAA ASAMOAH                                NaN    80.37

In [331]:
final1.to_excel('09FEB.xlsx')