In [ ]:
#import packages
import re
import pandas as pd
import numpy as np
!pip install xlsxwriter
#!pip install openpyxl --upgrade --pre

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.3)

In [ ]:
df_mth = pd.read_excel('MerchantTransactionHistoryAgentWise_14_03_2022_to_20_03_2022.xlsx')
df_mp = pd.read_excel('maximus-payment_export-1647850966336.xlsx')

In [ ]:
df_mp1 = df_mp[['tranid','source']] #picking out only two columns from main data
df_mp1.rename(columns={'tranid': 'Merchant Ref.Code'}, inplace=True) #renaming columns for cohesion

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_mth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2014 entries, 0 to 2013
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    2014 non-null   int64
 1   Trans.Date                  2014 non-null   object
 2   Settlement Date             2014 non-null   object
 3   Value Date                  2014 non-null   object
 4   Interpay Ref No             2014 non-null   int64
 5   Fee Type                    2014 non-null   object
 6   Invoice Amount              2014 non-null   float64
 7   Invoice Currency            2014 non-null   object
 8   Transacted Amount           2014 non-null   float64
 9   Transacted Currency         2014 non-null   object
 10  Commission Amount           2014 non-null   float64
 11  Net to Merchant             2014 non-null   float64
 12  Payee Name                  2014 non-null   object
 13  Payee Mobile                2014 non-null   int64
 14  Payee Email                 2008 non-null   object
 15  Merchant Ref.Code           2014 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            2014 non-null   object
 18  Payment Mode Name           2014 non-null   object
 19  Payment Mode Reference      2014 non-null   object
 20  Bank Name                   2014 non-null   object
 21  Bank Account                2014 non-null   int64
 22  Transaction Source          2014 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     2014 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
dtypes: float64(10), int64(5), object(14)
memory usage: 456.4+ KB

In [ ]:
#this code determines the source of payments( AUTODEBIT,USSD,etc.)
df_mth1 = pd.merge( df_mth, df_mp1,
                      on ='Merchant Ref.Code', 
                      how ='left') 
df_mth1.rename(columns={'Payee Mobile': 'Mobile'}, inplace=True)#renaming columns for cohession
df_mth1['source'].fillna('Not Available',inplace = True)

In [ ]:
df_mth1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2014 entries, 0 to 2013
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    2014 non-null   int64
 1   Trans.Date                  2014 non-null   object
 2   Settlement Date             2014 non-null   object
 3   Value Date                  2014 non-null   object
 4   Interpay Ref No             2014 non-null   int64
 5   Fee Type                    2014 non-null   object
 6   Invoice Amount              2014 non-null   float64
 7   Invoice Currency            2014 non-null   object
 8   Transacted Amount           2014 non-null   float64
 9   Transacted Currency         2014 non-null   object
 10  Commission Amount           2014 non-null   float64
 11  Net to Merchant             2014 non-null   float64
 12  Payee Name                  2014 non-null   object
 13  Mobile                      2014 non-null   int64
 14  Payee Email                 2008 non-null   object
 15  Merchant Ref.Code           2014 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            2014 non-null   object
 18  Payment Mode Name           2014 non-null   object
 19  Payment Mode Reference      2014 non-null   object
 20  Bank Name                   2014 non-null   object
 21  Bank Account                2014 non-null   int64
 22  Transaction Source          2014 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     2014 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      2014 non-null   object
dtypes: float64(10), int64(5), object(15)
memory usage: 487.8+ KB

In [ ]:
df_mth1.Mobile.nunique()

778

In [ ]:
df_mth1.source.value_counts()

AUTODEBIT        1472
AGENT             307
Not Available     109
USSD               76
Tier2              49
REFERER-163         1
Name: source, dtype: int64

In [ ]:
md = pd.read_excel('md2802.xlsx') #member dump
md =md[['agentname', 'Mobile']]

In [ ]:
md.info()

In [ ]:
agrf1 = pd.read_excel('agentupdate.xlsx')
agrf1 =agrf1[['agentname', 'Mobile']]

In [ ]:
agentonly = df_mth1[df_mth1['source'] == 'AGENT']

In [ ]:
agentonly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 16 to 1972
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    307 non-null    int64
 1   Trans.Date                  307 non-null    object
 2   Settlement Date             307 non-null    object
 3   Value Date                  307 non-null    object
 4   Interpay Ref No             307 non-null    int64
 5   Fee Type                    307 non-null    object
 6   Invoice Amount              307 non-null    float64
 7   Invoice Currency            307 non-null    object
 8   Transacted Amount           307 non-null    float64
 9   Transacted Currency         307 non-null    object
 10  Commission Amount           307 non-null    float64
 11  Net to Merchant             307 non-null    float64
 12  Payee Name                  307 non-null    object
 13  Mobile                      307 non-null    int64
 14  Payee Email                 307 non-null    object
 15  Merchant Ref.Code           307 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            307 non-null    object
 18  Payment Mode Name           307 non-null    object
 19  Payment Mode Reference      307 non-null    object
 20  Bank Name                   307 non-null    object
 21  Bank Account                307 non-null    int64
 22  Transaction Source          307 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     307 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      307 non-null    object
dtypes: float64(10), int64(5), object(15)
memory usage: 74.4+ KB

In [ ]:
agrf2 = agrf1.drop_duplicates(subset=['Mobile'])

In [ ]:
agrf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 115
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  102 non-null    object
 1   Mobile     102 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [ ]:
df_mth2 = pd.merge( agentonly, agrf2,
                      on ='Mobile', 
                      how ='left')

In [ ]:
df_mth2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 0 to 306
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    307 non-null    int64
 1   Trans.Date                  307 non-null    object
 2   Settlement Date             307 non-null    object
 3   Value Date                  307 non-null    object
 4   Interpay Ref No             307 non-null    int64
 5   Fee Type                    307 non-null    object
 6   Invoice Amount              307 non-null    float64
 7   Invoice Currency            307 non-null    object
 8   Transacted Amount           307 non-null    float64
 9   Transacted Currency         307 non-null    object
 10  Commission Amount           307 non-null    float64
 11  Net to Merchant             307 non-null    float64
 12  Payee Name                  307 non-null    object
 13  Mobile                      307 non-null    int64
 14  Payee Email                 307 non-null    object
 15  Merchant Ref.Code           307 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            307 non-null    object
 18  Payment Mode Name           307 non-null    object
 19  Payment Mode Reference      307 non-null    object
 20  Bank Name                   307 non-null    object
 21  Bank Account                307 non-null    int64
 22  Transaction Source          307 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     307 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      307 non-null    object
 30  agentname                   307 non-null    object
dtypes: float64(10), int64(5), object(16)
memory usage: 76.8+ KB

In [ ]:
#df_mth2.to_excel('agentonly.xlsx')

In [ ]:
others  = df_mth1.drop(df_mth1[df_mth1.source == 'AGENT'].index)

In [ ]:
others.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1707 entries, 0 to 2013
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    1707 non-null   int64
 1   Trans.Date                  1707 non-null   object
 2   Settlement Date             1707 non-null   object
 3   Value Date                  1707 non-null   object
 4   Interpay Ref No             1707 non-null   int64
 5   Fee Type                    1707 non-null   object
 6   Invoice Amount              1707 non-null   float64
 7   Invoice Currency            1707 non-null   object
 8   Transacted Amount           1707 non-null   float64
 9   Transacted Currency         1707 non-null   object
 10  Commission Amount           1707 non-null   float64
 11  Net to Merchant             1707 non-null   float64
 12  Payee Name                  1707 non-null   object
 13  Mobile                      1707 non-null   int64
 14  Payee Email                 1701 non-null   object
 15  Merchant Ref.Code           1707 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            1707 non-null   object
 18  Payment Mode Name           1707 non-null   object
 19  Payment Mode Reference      1707 non-null   object
 20  Bank Name                   1707 non-null   object
 21  Bank Account                1707 non-null   int64
 22  Transaction Source          1707 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     1707 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      1707 non-null   object
dtypes: float64(10), int64(5), object(15)
memory usage: 413.4+ KB

In [ ]:
md1 = md.drop_duplicates(subset=['Mobile'])

In [ ]:
others1 = pd.merge( others, md1,
                      on ='Mobile', 
                      how ='left')

In [ ]:
others1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1707 entries, 0 to 1706
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    1707 non-null   int64
 1   Trans.Date                  1707 non-null   object
 2   Settlement Date             1707 non-null   object
 3   Value Date                  1707 non-null   object
 4   Interpay Ref No             1707 non-null   int64
 5   Fee Type                    1707 non-null   object
 6   Invoice Amount              1707 non-null   float64
 7   Invoice Currency            1707 non-null   object
 8   Transacted Amount           1707 non-null   float64
 9   Transacted Currency         1707 non-null   object
 10  Commission Amount           1707 non-null   float64
 11  Net to Merchant             1707 non-null   float64
 12  Payee Name                  1707 non-null   object
 13  Mobile                      1707 non-null   int64
 14  Payee Email                 1701 non-null   object
 15  Merchant Ref.Code           1707 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            1707 non-null   object
 18  Payment Mode Name           1707 non-null   object
 19  Payment Mode Reference      1707 non-null   object
 20  Bank Name                   1707 non-null   object
 21  Bank Account                1707 non-null   int64
 22  Transaction Source          1707 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     1707 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      1707 non-null   object
 30  agentname                   1633 non-null   object
dtypes: float64(10), int64(5), object(16)
memory usage: 426.8+ KB

In [ ]:
others1.Mobile.value_counts()

233264330988    21
233242657366    19
233553443373    18
233549292946    18
233545343004    13
                ..
233277482501     1
233246816867     1
233248060851     1
233546434131     1
233550090476     1
Name: Mobile, Length: 774, dtype: int64

In [ ]:
#others1.to_excel('others1.xlsx')

In [ ]:
final = pd.concat([df_mth2, others1 ])

In [ ]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2014 entries, 0 to 1706
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    2014 non-null   int64
 1   Trans.Date                  2014 non-null   object
 2   Settlement Date             2014 non-null   object
 3   Value Date                  2014 non-null   object
 4   Interpay Ref No             2014 non-null   int64
 5   Fee Type                    2014 non-null   object
 6   Invoice Amount              2014 non-null   float64
 7   Invoice Currency            2014 non-null   object
 8   Transacted Amount           2014 non-null   float64
 9   Transacted Currency         2014 non-null   object
 10  Commission Amount           2014 non-null   float64
 11  Net to Merchant             2014 non-null   float64
 12  Payee Name                  2014 non-null   object
 13  Mobile                      2014 non-null   int64
 14  Payee Email                 2008 non-null   object
 15  Merchant Ref.Code           2014 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            2014 non-null   object
 18  Payment Mode Name           2014 non-null   object
 19  Payment Mode Reference      2014 non-null   object
 20  Bank Name                   2014 non-null   object
 21  Bank Account                2014 non-null   int64
 22  Transaction Source          2014 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     2014 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      2014 non-null   object
 30  agentname                   1940 non-null   object
dtypes: float64(10), int64(5), object(16)
memory usage: 503.5+ KB

In [ ]:
final.agentname = final.agentname.str.upper()#converts agentname to capital letters

In [ ]:
final['agentname'] = final['agentname'].str.replace('ASANA BIAKA','ASANA BIANKA')
final['agentname'] = final['agentname'].str.replace('DELIGHT SELASE AZANDA','DELIGHT AZANDA')
final['agentname'] = final['agentname'].str.replace('ERIC ADU APPENTENG','ERIC APPENTENG')
final['agentname'] = final['agentname'].str.replace('NANCY CHRISTIANA BIRIWAA','NANCY BIRIWA')
final['agentname'] = final['agentname'].str.replace('ERNEST AFUN','ERNEST AFUM')
final['agentname'] = final['agentname'].str.replace('ERNEST EFFUM','ERNEST AFUM')
final['agentname'] = final['agentname'].str.replace('EUNICE VISION WORMADEY','EUNICE VISION')
final['agentname'] = final['agentname'].str.replace('NANCY BIRIWAA','NANCY BIRIWA')
final['agentname'] = final['agentname'].str.replace('TESSA EMEFA','EMEFA TESSY')
final['agentname'] = final['agentname'].str.replace('TESSY EMEFA','EMEFA TESSY')
#final['agentname'] = final['agentname'].str.replace('PRISCILLA APPAU\t','PRISCILLA APPAU')
#final['agentname'] = final['agentname'].str.replace('NANCY CHRISTIANA BIRIWAAAA','NANCY BIRIWAA')

In [ ]:
final.source.value_counts()

AUTODEBIT        1472
AGENT             307
Not Available     109
USSD               76
Tier2              49
REFERER-163         1
Name: source, dtype: int64

In [ ]:
final.drop(final.index[final['source']=='Tier2'],inplace=True)

In [ ]:
final['trans_type'] = np.where(final['source'] == 'AGENT', 'CASH', 'DIGITAL')

#final['trans_type'] = np.where(final['source'] == 'AGENT', 'CASH', 'Tier2','TIER2','DIGITAL')

In [ ]:
final['agentname'] = final['agentname'].str.split().str.join(' ')

In [ ]:
final['agentname'] = final['agentname'].str.replace(('\t'), '',regex=True)

In [ ]:
a = final.agentname.unique()

In [ ]:
aa = pd.DataFrame(a)

In [ ]:
aa

                          0
0         BEATRICE FANTEKWA
1               ERNEST AFUM
2              MANDY ASANTE
3           EBENEZER MENSAH
4               MOSES NDIDA
..                      ...
70          PRISCILLA OWUSU
71  PHILIP KWAKU ACHEAMPONG
72        ABENA SERWAH OSEI
73        JUSTINA ANOSEDEMA
74     YAKUBU UMMUL- KALSUM

[75 rows x 1 columns]

In [ ]:
final

,Trans.ID,Trans.Date,Settlement Date,Value Date,Interpay Ref No,Fee Type,Invoice Amount,Invoice Currency,Transacted Amount,Transacted Currency,...,Transaction Source,Reversal Status,Reversal Date,Reversal Payback Amount,Agent Reference Number,Customer Membership Number,Customer Mobile Number,source,agentname,trans_type
0,121255844,20/03/2022 07:47:10PM,21/03/2022 09:06:00AM,20/03/2022,83474620,GENERAL PAYMENT,5.0,GHS,5.15,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AGENT,BEATRICE FANTEKWA,CASH
1,121255643,20/03/2022 07:45:22PM,21/03/2022 09:06:00AM,20/03/2022,83474540,GENERAL PAYMENT,10.0,GHS,10.30,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AGENT,BEATRICE FANTEKWA,CASH
2,121255376,20/03/2022 07:42:53PM,21/03/2022 09:06:00AM,20/03/2022,83474417,GENERAL PAYMENT,20.0,GHS,20.59,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AGENT,BEATRICE FANTEKWA,CASH
3,121255063,20/03/2022 07:40:27PM,21/03/2022 09:06:00AM,20/03/2022,83474292,GENERAL PAYMENT,40.0,GHS,41.18,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AGENT,BEATRICE FANTEKWA,CASH
4,121254874,20/03/2022 07:38:50PM,21/03/2022 09:06:00AM,20/03/2022,83474214,GENERAL PAYMENT,10.0,GHS,10.30,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AGENT,BEATRICE FANTEKWA,CASH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702,120384094,14/03/2022 12:03:51AM,15/03/2022 09:06:00AM,14/03/2022,82928205,GENERAL PAYMENT,5.0,GHS,5.15,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AUTODEBIT,OTHER CHANNELS,DIGITAL
1703,120384083,14/03/2022 12:03:08AM,15/03/2022 09:06:00AM,14/03/2022,82928198,GENERAL PAYMENT,1.0,GHS,1.03,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AUTODEBIT,ERIC APPENTENG,DIGITAL
1704,120384046,14/03/2022 12:00:51AM,15/03/2022 09:06:00AM,14/03/2022,82928166,GENERAL PAYMENT,20.0,GHS,20.59,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AUTODEBIT,OTHER CHANNELS,DIGITAL
1705,120384029,14/03/2022 12:00:35AM,15/03/2022 09:06:00AM,14/03/2022,82928161,GENERAL PAYMENT,5.0,GHS,5.15,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AUTODEBIT,YAA ASAMOAH,DIGITAL
1706,120384019,14/03/2022 12:00:07AM,15/03/2022 09:06:00AM,14/03/2022,82928158,GENERAL PAYMENT,10.0,GHS,10.30,GHS,...,MERCHANT INVOICE API,NaN,NaN,0,NaN,NaN,NaN,AUTODEBIT,OTHER CHANNELS,DIGITAL

In [ ]:
final.source.value_counts()

AUTODEBIT        1472
AGENT             307
Not Available     109
USSD               76
REFERER-163         1
Name: source, dtype: int64

In [ ]:
#final.to_excel('report.xlsx')

In [ ]:
agent_list = pd.read_excel('agent_list.xlsx')

In [ ]:
agent_list

                   agentname
0          ABENA SERWAH OSEI
1               ASANA BIANKA
2             BENJAMIN QUAYE
3             DELIGHT AZANDA
4         DENNIS AGGREY OTOO
5                EMEFA TESSY
6             ERIC APPENTENG
7                ERNEST AFUM
8              EUNICE VISION
9          FLORENCE ZINKPIEW
10            FRANCIS OPPONG
11              GIFTY LARTEY
12        JUSTINA  ANOSEDEMA
13              MANDY ASANTE
14              MARY BUABENG
15             MICHAEL BONSU
16               MOSES NDIDA
17              NANCY BIRIWA
18       OBED APPIAH ASAMOAH
19              PRINCE OHENE
20           PRISCILLA APPAU
21            RICHARD NYARBI
22      SAMUEL BOACHIE-ENNIN
23               DAVID OFORI
24             KELVIN BOAMAH
25               LAUD MENSAH
26           NEHEMIAH TETTEH
27              PRINCE OHENE
28               YAA ASAMOAH
29            DERRICK FILSON
30            ABRAHAM MENSAH
31      MOSES ALLISON TETTEH
32              GEORGE WEDZI
33       RICHMOND EDEM TSALA
34            WINFRED NYARKO
35  MABEL ADEI OPPONG KONADU
36         JUSTINA ANOSEDEMA
37          NAA DEEDEI ANNAG
38                NANCY KWAO
39           EBENEZER MENSAH

In [ ]:
ag_list = pd.merge( final, agent_list,
                      on ='agentname', 
                      how ='right')

In [ ]:
ag_list1 = pd.pivot_table(ag_list, index = ['Value Date', 'agentname'], columns = ['trans_type'], values = ['Net to Merchant'],aggfunc = np.sum)#######

In [ ]:
ag_list2 = pd.pivot_table(ag_list, index = ['Value Date','agentname'], columns = ['source'], values = ['Net to Merchant'],aggfunc = np.sum)#######

In [ ]:
ag_list3 = pd.pivot_table(ag_list, index = ['agentname'], columns = ['trans_type'], values = ['Invoice Amount'],aggfunc = ('count', np.sum))

In [ ]:
ag_list3 = ag_list3.fillna(0)

In [ ]:
#ag_list3.to_excel('AgentReport.xlsx')

In [ ]:
ag_list1

                                Net to Merchant
trans_type                                 CASH DIGITAL
Value Date agentname
14/03/2022 ASANA BIANKA                   40.18   33.15
           BENJAMIN QUAYE                   NaN   30.13
           DAVID OFORI                      NaN   21.09
           DELIGHT AZANDA                   NaN  136.62
           DENNIS AGGREY OTOO               NaN  519.35
...                                         ...     ...
20/03/2022 PRINCE OHENE                     NaN  170.78
           RICHARD NYARBI                   NaN    4.02
           SAMUEL BOACHIE-ENNIN             NaN  120.55
           YAA ASAMOAH                      NaN   90.40
           GEORGE WEDZI                     NaN   50.23

[181 rows x 2 columns]

In [ ]:
ag_list1.to_excel('march14to21.xlsx')

In [ ]:
ag_list1

In [ ]:
final1 = pd.pivot_table(final, index = [ 'Value Date','agentname'], columns = ['trans_type'], values = ['Net to Merchant'],aggfunc = np.sum)

In [ ]:
final2 = pd.pivot_table(final, index = ['Value Date','agentname'], columns = ['source'], values = ['Net to Merchant'],aggfunc = np.sum)

In [ ]:
final3 = pd.pivot_table(final, index = ['agentname'], columns = ['trans_type'], values = ['Invoice Amount'],aggfunc = ('count', np.sum))

In [ ]:
final3 = final3.fillna(0)

In [ ]:
#final3.to_excel('AllAgentReport.xlsx')

In [ ]:
final1

In [ ]:
final1.to_excel('March14to21allagents.xlsx')

In [ ]:
#final2.to_excel('March07-13AllAgents.xlsx')

In [ ]:
ag_list2.to_excel('MARCH07-13SelectedAgents.xlsx')

In [ ]:
#writer = pd.ExcelWriter('agent_report.xlsx', engine='xlsxwriter')

In [ ]:
#ag_list1.to_excel(writer, sheet_name='SelectedAgents1')
#ag_list2.to_excel(writer, sheet_name='SelectedAgents2')
#final1.to_excel(writer, sheet_name='AllAgents1')
#final2.to_excel(writer, sheet_name='AllAgnets2')

In [ ]:
#writer.save()