<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/finalagentreport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
#import packages
import pandas as pd
import numpy as np
#!pip install xlsxwriter
#!pip install openpyxl --upgrade --pre

In [49]:
df_mth = pd.read_excel('MerchantTransactionHistoryAgentWise_01_02_2022_to_13_02_2022.xlsx')
df_mp = pd.read_excel('maximus-payment_export-1644840349798.xlsx')

In [50]:
df_mp1 = df_mp[['tranid','source']] #picking out only two columns from main data
df_mp1.rename(columns={'tranid': 'Merchant Ref.Code'}, inplace=True) #renaming columns for cohesion

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [51]:
df_mth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3379 entries, 0 to 3378
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    3379 non-null   int64
 1   Trans.Date                  3379 non-null   object
 2   Settlement Date             3379 non-null   object
 3   Value Date                  3379 non-null   object
 4   Interpay Ref No             3379 non-null   int64
 5   Fee Type                    3379 non-null   object
 6   Invoice Amount              3379 non-null   float64
 7   Invoice Currency            3379 non-null   object
 8   Transacted Amount           3379 non-null   float64
 9   Transacted Currency         3379 non-null   object
 10  Commission Amount           3379 non-null   float64
 11  Net to Merchant             3379 non-null   float64
 12  Payee Name                  3379 non-null   object
 13  Payee Mobile                3379 non-null   int64
 14  Payee Email                 3345 non-null   object
 15  Merchant Ref.Code           3379 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            3379 non-null   object
 18  Payment Mode Name           3379 non-null   object
 19  Payment Mode Reference      3379 non-null   object
 20  Bank Name                   3379 non-null   object
 21  Bank Account                3379 non-null   int64
 22  Transaction Source          3379 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     3379 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
dtypes: float64(10), int64(5), object(14)
memory usage: 765.7+ KB

In [52]:
#this code determines the source of payments( AUTODEBIT,USSD,etc.)
df_mth1 = pd.merge( df_mth, df_mp1,
                      on ='Merchant Ref.Code', 
                      how ='left') 
df_mth1.rename(columns={'Payee Mobile': 'Mobile'}, inplace=True)#renaming columns for cohession
df_mth1['source'].fillna('Not Available',inplace = True)

In [53]:
df_mth1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3379 entries, 0 to 3378
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    3379 non-null   int64
 1   Trans.Date                  3379 non-null   object
 2   Settlement Date             3379 non-null   object
 3   Value Date                  3379 non-null   object
 4   Interpay Ref No             3379 non-null   int64
 5   Fee Type                    3379 non-null   object
 6   Invoice Amount              3379 non-null   float64
 7   Invoice Currency            3379 non-null   object
 8   Transacted Amount           3379 non-null   float64
 9   Transacted Currency         3379 non-null   object
 10  Commission Amount           3379 non-null   float64
 11  Net to Merchant             3379 non-null   float64
 12  Payee Name                  3379 non-null   object
 13  Mobile                      3379 non-null   int64
 14  Payee Email                 3345 non-null   object
 15  Merchant Ref.Code           3379 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            3379 non-null   object
 18  Payment Mode Name           3379 non-null   object
 19  Payment Mode Reference      3379 non-null   object
 20  Bank Name                   3379 non-null   object
 21  Bank Account                3379 non-null   int64
 22  Transaction Source          3379 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     3379 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      3379 non-null   object
dtypes: float64(10), int64(5), object(15)
memory usage: 818.4+ KB

In [54]:
md = pd.read_excel('md0102.xlsx') #member dump
md =md[['agentname', 'Mobile']]

In [55]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53925 entries, 0 to 53924
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  53925 non-null  object
 1   Mobile     53925 non-null  object
dtypes: object(2)
memory usage: 842.7+ KB

In [56]:
agrf1 = pd.read_excel('agentupdate.xlsx')
agrf1 =agrf1[['agentname', 'Mobile']]

In [57]:
agentonly = df_mth1[df_mth1['source'] == 'AGENT']

In [58]:
agentonly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402 entries, 216 to 3184
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    402 non-null    int64
 1   Trans.Date                  402 non-null    object
 2   Settlement Date             402 non-null    object
 3   Value Date                  402 non-null    object
 4   Interpay Ref No             402 non-null    int64
 5   Fee Type                    402 non-null    object
 6   Invoice Amount              402 non-null    float64
 7   Invoice Currency            402 non-null    object
 8   Transacted Amount           402 non-null    float64
 9   Transacted Currency         402 non-null    object
 10  Commission Amount           402 non-null    float64
 11  Net to Merchant             402 non-null    float64
 12  Payee Name                  402 non-null    object
 13  Mobile                      402 non-null    int64
 14  Payee Email                 402 non-null    object
 15  Merchant Ref.Code           402 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            402 non-null    object
 18  Payment Mode Name           402 non-null    object
 19  Payment Mode Reference      402 non-null    object
 20  Bank Name                   402 non-null    object
 21  Bank Account                402 non-null    int64
 22  Transaction Source          402 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     402 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      402 non-null    object
dtypes: float64(10), int64(5), object(15)
memory usage: 97.4+ KB

In [59]:
agrf2 = agrf1.drop_duplicates(subset=['Mobile'])

In [60]:
agrf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 0 to 115
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  101 non-null    object
 1   Mobile     101 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [61]:
df_mth2 = pd.merge( agentonly, agrf2,
                      on ='Mobile', 
                      how ='left')

In [62]:
df_mth2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402 entries, 0 to 401
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    402 non-null    int64
 1   Trans.Date                  402 non-null    object
 2   Settlement Date             402 non-null    object
 3   Value Date                  402 non-null    object
 4   Interpay Ref No             402 non-null    int64
 5   Fee Type                    402 non-null    object
 6   Invoice Amount              402 non-null    float64
 7   Invoice Currency            402 non-null    object
 8   Transacted Amount           402 non-null    float64
 9   Transacted Currency         402 non-null    object
 10  Commission Amount           402 non-null    float64
 11  Net to Merchant             402 non-null    float64
 12  Payee Name                  402 non-null    object
 13  Mobile                      402 non-null    int64
 14  Payee Email                 402 non-null    object
 15  Merchant Ref.Code           402 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            402 non-null    object
 18  Payment Mode Name           402 non-null    object
 19  Payment Mode Reference      402 non-null    object
 20  Bank Name                   402 non-null    object
 21  Bank Account                402 non-null    int64
 22  Transaction Source          402 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     402 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      402 non-null    object
 30  agentname                   371 non-null    object
dtypes: float64(10), int64(5), object(16)
memory usage: 100.5+ KB

In [63]:
#df_mth2.to_excel('agentonly.xlsx')

In [64]:
others  = df_mth1.drop(df_mth1[df_mth1.source == 'AGENT'].index)

In [65]:
others.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2977 entries, 0 to 3378
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    2977 non-null   int64
 1   Trans.Date                  2977 non-null   object
 2   Settlement Date             2977 non-null   object
 3   Value Date                  2977 non-null   object
 4   Interpay Ref No             2977 non-null   int64
 5   Fee Type                    2977 non-null   object
 6   Invoice Amount              2977 non-null   float64
 7   Invoice Currency            2977 non-null   object
 8   Transacted Amount           2977 non-null   float64
 9   Transacted Currency         2977 non-null   object
 10  Commission Amount           2977 non-null   float64
 11  Net to Merchant             2977 non-null   float64
 12  Payee Name                  2977 non-null   object
 13  Mobile                      2977 non-null   int64
 14  Payee Email                 2943 non-null   object
 15  Merchant Ref.Code           2977 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            2977 non-null   object
 18  Payment Mode Name           2977 non-null   object
 19  Payment Mode Reference      2977 non-null   object
 20  Bank Name                   2977 non-null   object
 21  Bank Account                2977 non-null   int64
 22  Transaction Source          2977 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     2977 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      2977 non-null   object
dtypes: float64(10), int64(5), object(15)
memory usage: 721.0+ KB

In [66]:
md1 = md.drop_duplicates(subset=['Mobile'])

In [67]:
others1 = pd.merge( others, md1,
                      on ='Mobile', 
                      how ='left')

In [68]:
others1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2977 entries, 0 to 2976
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    2977 non-null   int64
 1   Trans.Date                  2977 non-null   object
 2   Settlement Date             2977 non-null   object
 3   Value Date                  2977 non-null   object
 4   Interpay Ref No             2977 non-null   int64
 5   Fee Type                    2977 non-null   object
 6   Invoice Amount              2977 non-null   float64
 7   Invoice Currency            2977 non-null   object
 8   Transacted Amount           2977 non-null   float64
 9   Transacted Currency         2977 non-null   object
 10  Commission Amount           2977 non-null   float64
 11  Net to Merchant             2977 non-null   float64
 12  Payee Name                  2977 non-null   object
 13  Mobile                      2977 non-null   object
 14  Payee Email                 2943 non-null   object
 15  Merchant Ref.Code           2977 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            2977 non-null   object
 18  Payment Mode Name           2977 non-null   object
 19  Payment Mode Reference      2977 non-null   object
 20  Bank Name                   2977 non-null   object
 21  Bank Account                2977 non-null   int64
 22  Transaction Source          2977 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     2977 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      2977 non-null   object
 30  agentname                   2918 non-null   object
dtypes: float64(10), int64(4), object(17)
memory usage: 744.2+ KB

In [69]:
others1.Mobile.value_counts()

233264330988    45
233242548432    21
233559411694    19
233242158138    19
233240298734    18
                ..
233542491294     1
233244046466     1
233552018738     1
233241442595     1
233241164249     1
Name: Mobile, Length: 1060, dtype: int64

In [70]:
#others1.to_excel('others1.xlsx')

In [71]:
final = pd.concat([df_mth2, others1 ])

In [72]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3379 entries, 0 to 2976
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    3379 non-null   int64
 1   Trans.Date                  3379 non-null   object
 2   Settlement Date             3379 non-null   object
 3   Value Date                  3379 non-null   object
 4   Interpay Ref No             3379 non-null   int64
 5   Fee Type                    3379 non-null   object
 6   Invoice Amount              3379 non-null   float64
 7   Invoice Currency            3379 non-null   object
 8   Transacted Amount           3379 non-null   float64
 9   Transacted Currency         3379 non-null   object
 10  Commission Amount           3379 non-null   float64
 11  Net to Merchant             3379 non-null   float64
 12  Payee Name                  3379 non-null   object
 13  Mobile                      3379 non-null   object
 14  Payee Email                 3345 non-null   object
 15  Merchant Ref.Code           3379 non-null   object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            3379 non-null   object
 18  Payment Mode Name           3379 non-null   object
 19  Payment Mode Reference      3379 non-null   object
 20  Bank Name                   3379 non-null   object
 21  Bank Account                3379 non-null   int64
 22  Transaction Source          3379 non-null   object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     3379 non-null   int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      3379 non-null   object
 30  agentname                   3289 non-null   object
dtypes: float64(10), int64(4), object(17)
memory usage: 844.8+ KB

In [73]:
final.agentname = final.agentname.str.upper()#converts agentname to capital letters

In [74]:
final['agentname'] = final['agentname'].str.replace('ASANA BIAKA','ASANA BIANKA')
final['agentname'] = final['agentname'].str.replace('DELIGHT SELASE AZANDA','DELIGHT AZANDA')
final['agentname'] = final['agentname'].str.replace('ERIC ADU APPENTENG','ERIC APPENTENG')
final['agentname'] = final['agentname'].str.replace('NANCY CHRISTIANA BIRIWAA','NANCY BIRIWA')
final['agentname'] = final['agentname'].str.replace('ERNEST AFUN','ERNEST AFUM')
final['agentname'] = final['agentname'].str.replace('ERNEST EFFUM','ERNEST AFUM')
final['agentname'] = final['agentname'].str.replace('EUNICE VISION WORMADEY','EUNICE VISION')
final['agentname'] = final['agentname'].str.replace('NANCY BIRIWAA','NANCY BIRIWA')

final['agentname'] = final['agentname'].str.replace('PRISCILLA APPAU \t','PRISCILLA APPAU')
#final['agentname'] = final['agentname'].str.replace('NANCY CHRISTIANA BIRIWAAAA','NANCY BIRIWAA')

In [75]:
final['trans_type'] = np.where(final['source'] == 'AGENT', 'CASH', 'DIGITAL')

In [76]:
final

       Trans.ID             Trans.Date  ...           agentname trans_type
0     116650440  12/02/2022 02:55:28PM  ...         TESSA EMEFA       CASH
1     116609647  12/02/2022 08:32:00AM  ...         ERNEST AFUM       CASH
2     116609560  12/02/2022 08:31:13AM  ...         ERNEST AFUM       CASH
3     116575991  11/02/2022 07:20:07PM  ...         MOSES NDIDA       CASH
4     116575513  11/02/2022 07:15:52PM  ...         MOSES NDIDA       CASH
...         ...                    ...  ...                 ...        ...
2972  115075760  01/02/2022 12:02:38AM  ...      OTHER CHANNELS    DIGITAL
2973  115075750  01/02/2022 12:02:08AM  ...      ERIC APPENTENG    DIGITAL
2974  115075738  01/02/2022 12:01:38AM  ...  DENNIS AGGREY OTOO    DIGITAL
2975  115075733  01/02/2022 12:01:23AM  ...         LAUD MENSAH    DIGITAL
2976  115075709  01/02/2022 12:00:24AM  ...         YAA ASAMOAH    DIGITAL

[3379 rows x 32 columns]

In [77]:
final.loc[final['agentname'] == 'yaa']

Empty DataFrame
Columns: [Trans.ID, Trans.Date, Settlement Date, Value Date, Interpay Ref No, Fee Type, Invoice Amount, Invoice Currency, Transacted Amount, Transacted Currency, Commission Amount, Net to Merchant, Payee Name, Mobile, Payee Email, Merchant Ref.Code, Merchant-Client Code, Transaction Type, Payment Mode Name, Payment Mode Reference, Bank Name, Bank Account, Transaction Source, Reversal Status, Reversal Date, Reversal Payback Amount, Agent Reference Number, Customer Membership Number, Customer Mobile Number, source, agentname, trans_type]
Index: []

In [78]:
agent_list = pd.read_excel('agent_list.xlsx')

In [79]:
agent_list

                   agentname
0          ABENA SERWAH OSEI
1               ASANA BIANKA
2             BENJAMIN QUAYE
3             DELIGHT AZANDA
4         DENNIS AGGREY OTOO
5                EMEFA TESSY
6             ERIC APPENTENG
7                ERNEST AFUM
8              EUNICE VISION
9          FLORENCE ZINKPIEW
10            FRANCIS OPPONG
11              GIFTY LARTEY
12        JUSTINA  ANOSEDEMA
13              MANDY ASANTE
14              MARY BUABENG
15             MICHAEL BONSU
16               MOSES NDIDA
17              NANCY BIRIWA
18       OBED APPIAH ASAMOAH
19              PRINCE OHENE
20           PRISCILLA APPAU
21            RICHARD NYARBI
22      SAMUEL BOACHIE-ENNIN
23               DAVID OFORI
24             KELVIN BOAMAH
25               LAUD MENSAH
26           NEHEMIAH TETTEH
27              PRINCE OHENE
28               YAA ASAMOAH
29            DERRICK FILSON
30            ABRAHAM MENSAH
31      MOSES ALLISON TETTEH
32              GEORGE WEDZI
33       RICHMOND EDEM TSALA
34            WINFRED NYARKO
35  MABEL ADEI OPPONG KONADU
36         JUSTINA ANOSEDEMA
37          NAA DEEDEI ANNAG
38                NANCY KWAO

In [80]:
ag_list = pd.merge( final, agent_list,
                      on ='agentname', 
                      how ='right')

In [81]:
ag_list1 = pd.pivot_table(ag_list, index = ['Value Date','agentname'], columns = ['trans_type'], values = ['Net to Merchant'],aggfunc = np.sum)#######

In [82]:
ag_list1

                                Net to Merchant
trans_type                                 CASH DIGITAL
Value Date agentname
01/02/2022 ABENA SERWAH OSEI                NaN  200.91
           ASANA BIANKA                   20.09   40.19
           BENJAMIN QUAYE                   NaN   30.14
           DAVID OFORI                      NaN    1.00
           DELIGHT AZANDA                   NaN  260.15
...                                         ...     ...
13/02/2022 PRISCILLA APPAU                  NaN  100.45
           RICHARD NYARBI                   NaN    4.02
           SAMUEL BOACHIE-ENNIN             NaN   20.10
           YAA ASAMOAH                      NaN  184.84
           GEORGE WEDZI                     NaN   50.23

[334 rows x 2 columns]

In [83]:
final1 = pd.pivot_table(final, index = ['agentname'], columns = ['trans_type'], values = ['Net to Merchant'],aggfunc = np.sum)

In [84]:
final1

                             Net to Merchant
trans_type                              CASH  DIGITAL
agentname
  CAROLINE NAA NUNOO\t                   NaN    37.12
 BAGONLURI SUNG - SUMA WENDY             NaN    59.26
 HEIDI EFFRIM- ESSANDOH                  NaN     5.02
ABENA SERWAH OSEI                        NaN   492.98
ABIGAIL AFUA DANSOWAA                    NaN    80.36
...                                      ...      ...
STEPHEN ATABOA                        245.15      NaN
SUMAILA RAHEEMATU\t                      NaN   103.45
TESSA EMEFA                           215.98      NaN
YAA ASAMOAH                              NaN  2204.41
YAKUBU UMMUL- KALSUM\t                   NaN     6.00

[85 rows x 2 columns]

In [85]:
ag_list1.to_excel('FEB1-13.xlsx')