<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/finalagentreport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [219]:
#import packages
import re
import pandas as pd
import numpy as np
#!pip install xlsxwriter
#!pip install openpyxl --upgrade --pre

In [220]:
df_mth = pd.read_excel('MerchantTransactionHistoryAgentWise_23_02_2022_to_23_02_2022.xlsx')
df_mp = pd.read_excel('maximus-payment_export-1645700775561.xlsx')

In [221]:
df_mp1 = df_mp[['tranid','source']] #picking out only two columns from main data
df_mp1.rename(columns={'tranid': 'Merchant Ref.Code'}, inplace=True) #renaming columns for cohesion

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [222]:
df_mth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    290 non-null    int64
 1   Trans.Date                  290 non-null    object
 2   Settlement Date             290 non-null    object
 3   Value Date                  290 non-null    object
 4   Interpay Ref No             290 non-null    int64
 5   Fee Type                    290 non-null    object
 6   Invoice Amount              290 non-null    float64
 7   Invoice Currency            290 non-null    object
 8   Transacted Amount           290 non-null    float64
 9   Transacted Currency         290 non-null    object
 10  Commission Amount           290 non-null    float64
 11  Net to Merchant             290 non-null    float64
 12  Payee Name                  290 non-null    object
 13  Payee Mobile                290 non-null    int64
 14  Payee Email                 288 non-null    object
 15  Merchant Ref.Code           290 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            290 non-null    object
 18  Payment Mode Name           290 non-null    object
 19  Payment Mode Reference      290 non-null    object
 20  Bank Name                   290 non-null    object
 21  Bank Account                290 non-null    int64
 22  Transaction Source          290 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     290 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
dtypes: float64(10), int64(5), object(14)
memory usage: 65.8+ KB

In [223]:
#this code determines the source of payments( AUTODEBIT,USSD,etc.)
df_mth1 = pd.merge( df_mth, df_mp1,
                      on ='Merchant Ref.Code', 
                      how ='left') 
df_mth1.rename(columns={'Payee Mobile': 'Mobile'}, inplace=True)#renaming columns for cohession
df_mth1['source'].fillna('Not Available',inplace = True)

In [224]:
df_mth1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 0 to 289
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    290 non-null    int64
 1   Trans.Date                  290 non-null    object
 2   Settlement Date             290 non-null    object
 3   Value Date                  290 non-null    object
 4   Interpay Ref No             290 non-null    int64
 5   Fee Type                    290 non-null    object
 6   Invoice Amount              290 non-null    float64
 7   Invoice Currency            290 non-null    object
 8   Transacted Amount           290 non-null    float64
 9   Transacted Currency         290 non-null    object
 10  Commission Amount           290 non-null    float64
 11  Net to Merchant             290 non-null    float64
 12  Payee Name                  290 non-null    object
 13  Mobile                      290 non-null    int64
 14  Payee Email                 288 non-null    object
 15  Merchant Ref.Code           290 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            290 non-null    object
 18  Payment Mode Name           290 non-null    object
 19  Payment Mode Reference      290 non-null    object
 20  Bank Name                   290 non-null    object
 21  Bank Account                290 non-null    int64
 22  Transaction Source          290 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     290 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      290 non-null    object
dtypes: float64(10), int64(5), object(15)
memory usage: 70.2+ KB

In [225]:
md = pd.read_excel('md1602.xlsx') #member dump
md =md[['agentname', 'Mobile']]

In [226]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50310 entries, 0 to 50309
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  50310 non-null  object
 1   Mobile     50310 non-null  int64
dtypes: int64(1), object(1)
memory usage: 786.2+ KB

In [227]:
agrf1 = pd.read_excel('agentupdate.xlsx')
agrf1 =agrf1[['agentname', 'Mobile']]

In [228]:
agentonly = df_mth1[df_mth1['source'] == 'AGENT']

In [229]:
agentonly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 21 to 159
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    34 non-null     int64
 1   Trans.Date                  34 non-null     object
 2   Settlement Date             34 non-null     object
 3   Value Date                  34 non-null     object
 4   Interpay Ref No             34 non-null     int64
 5   Fee Type                    34 non-null     object
 6   Invoice Amount              34 non-null     float64
 7   Invoice Currency            34 non-null     object
 8   Transacted Amount           34 non-null     float64
 9   Transacted Currency         34 non-null     object
 10  Commission Amount           34 non-null     float64
 11  Net to Merchant             34 non-null     float64
 12  Payee Name                  34 non-null     object
 13  Mobile                      34 non-null     int64
 14  Payee Email                 34 non-null     object
 15  Merchant Ref.Code           34 non-null     object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            34 non-null     object
 18  Payment Mode Name           34 non-null     object
 19  Payment Mode Reference      34 non-null     object
 20  Bank Name                   34 non-null     object
 21  Bank Account                34 non-null     int64
 22  Transaction Source          34 non-null     object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     34 non-null     int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      34 non-null     object
dtypes: float64(10), int64(5), object(15)
memory usage: 8.2+ KB

In [230]:
agrf2 = agrf1.drop_duplicates(subset=['Mobile'])

In [231]:
agrf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 115
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  102 non-null    object
 1   Mobile     102 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [232]:
df_mth2 = pd.merge( agentonly, agrf2,
                      on ='Mobile', 
                      how ='left')

In [233]:
df_mth2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    34 non-null     int64
 1   Trans.Date                  34 non-null     object
 2   Settlement Date             34 non-null     object
 3   Value Date                  34 non-null     object
 4   Interpay Ref No             34 non-null     int64
 5   Fee Type                    34 non-null     object
 6   Invoice Amount              34 non-null     float64
 7   Invoice Currency            34 non-null     object
 8   Transacted Amount           34 non-null     float64
 9   Transacted Currency         34 non-null     object
 10  Commission Amount           34 non-null     float64
 11  Net to Merchant             34 non-null     float64
 12  Payee Name                  34 non-null     object
 13  Mobile                      34 non-null     int64
 14  Payee Email                 34 non-null     object
 15  Merchant Ref.Code           34 non-null     object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            34 non-null     object
 18  Payment Mode Name           34 non-null     object
 19  Payment Mode Reference      34 non-null     object
 20  Bank Name                   34 non-null     object
 21  Bank Account                34 non-null     int64
 22  Transaction Source          34 non-null     object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     34 non-null     int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      34 non-null     object
 30  agentname                   34 non-null     object
dtypes: float64(10), int64(5), object(16)
memory usage: 8.5+ KB

In [234]:
#df_mth2.to_excel('agentonly.xlsx')

In [235]:
others  = df_mth1.drop(df_mth1[df_mth1.source == 'AGENT'].index)

In [236]:
others.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 0 to 289
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    256 non-null    int64
 1   Trans.Date                  256 non-null    object
 2   Settlement Date             256 non-null    object
 3   Value Date                  256 non-null    object
 4   Interpay Ref No             256 non-null    int64
 5   Fee Type                    256 non-null    object
 6   Invoice Amount              256 non-null    float64
 7   Invoice Currency            256 non-null    object
 8   Transacted Amount           256 non-null    float64
 9   Transacted Currency         256 non-null    object
 10  Commission Amount           256 non-null    float64
 11  Net to Merchant             256 non-null    float64
 12  Payee Name                  256 non-null    object
 13  Mobile                      256 non-null    int64
 14  Payee Email                 254 non-null    object
 15  Merchant Ref.Code           256 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            256 non-null    object
 18  Payment Mode Name           256 non-null    object
 19  Payment Mode Reference      256 non-null    object
 20  Bank Name                   256 non-null    object
 21  Bank Account                256 non-null    int64
 22  Transaction Source          256 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     256 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      256 non-null    object
dtypes: float64(10), int64(5), object(15)
memory usage: 62.0+ KB

In [237]:
md1 = md.drop_duplicates(subset=['Mobile'])

In [238]:
others1 = pd.merge( others, md1,
                      on ='Mobile', 
                      how ='left')

In [239]:
others1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 0 to 255
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    256 non-null    int64
 1   Trans.Date                  256 non-null    object
 2   Settlement Date             256 non-null    object
 3   Value Date                  256 non-null    object
 4   Interpay Ref No             256 non-null    int64
 5   Fee Type                    256 non-null    object
 6   Invoice Amount              256 non-null    float64
 7   Invoice Currency            256 non-null    object
 8   Transacted Amount           256 non-null    float64
 9   Transacted Currency         256 non-null    object
 10  Commission Amount           256 non-null    float64
 11  Net to Merchant             256 non-null    float64
 12  Payee Name                  256 non-null    object
 13  Mobile                      256 non-null    int64
 14  Payee Email                 254 non-null    object
 15  Merchant Ref.Code           256 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            256 non-null    object
 18  Payment Mode Name           256 non-null    object
 19  Payment Mode Reference      256 non-null    object
 20  Bank Name                   256 non-null    object
 21  Bank Account                256 non-null    int64
 22  Transaction Source          256 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     256 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      256 non-null    object
 30  agentname                   253 non-null    object
dtypes: float64(10), int64(5), object(16)
memory usage: 64.0+ KB

In [240]:
others1.Mobile.value_counts()

233264330988    7
233248488789    6
233543308326    3
233244234226    3
233553967979    3
               ..
233544050340    1
233557406048    1
233245961977    1
233244779008    1
233592553109    1
Name: Mobile, Length: 220, dtype: int64

In [241]:
#others1.to_excel('others1.xlsx')

In [242]:
final = pd.concat([df_mth2, others1 ])

In [243]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 0 to 255
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trans.ID                    290 non-null    int64
 1   Trans.Date                  290 non-null    object
 2   Settlement Date             290 non-null    object
 3   Value Date                  290 non-null    object
 4   Interpay Ref No             290 non-null    int64
 5   Fee Type                    290 non-null    object
 6   Invoice Amount              290 non-null    float64
 7   Invoice Currency            290 non-null    object
 8   Transacted Amount           290 non-null    float64
 9   Transacted Currency         290 non-null    object
 10  Commission Amount           290 non-null    float64
 11  Net to Merchant             290 non-null    float64
 12  Payee Name                  290 non-null    object
 13  Mobile                      290 non-null    int64
 14  Payee Email                 288 non-null    object
 15  Merchant Ref.Code           290 non-null    object
 16  Merchant-Client Code        0 non-null      float64
 17  Transaction Type            290 non-null    object
 18  Payment Mode Name           290 non-null    object
 19  Payment Mode Reference      290 non-null    object
 20  Bank Name                   290 non-null    object
 21  Bank Account                290 non-null    int64
 22  Transaction Source          290 non-null    object
 23  Reversal Status             0 non-null      float64
 24  Reversal Date               0 non-null      float64
 25  Reversal Payback Amount     290 non-null    int64
 26  Agent Reference Number      0 non-null      float64
 27  Customer Membership Number  0 non-null      float64
 28  Customer Mobile Number      0 non-null      float64
 29  source                      290 non-null    object
 30  agentname                   287 non-null    object
dtypes: float64(10), int64(5), object(16)
memory usage: 72.5+ KB

In [244]:
final.agentname = final.agentname.str.upper()#converts agentname to capital letters

In [245]:
final['agentname'] = final['agentname'].str.replace('ASANA BIAKA','ASANA BIANKA')
final['agentname'] = final['agentname'].str.replace('DELIGHT SELASE AZANDA','DELIGHT AZANDA')
final['agentname'] = final['agentname'].str.replace('ERIC ADU APPENTENG','ERIC APPENTENG')
final['agentname'] = final['agentname'].str.replace('NANCY CHRISTIANA BIRIWAA','NANCY BIRIWA')
final['agentname'] = final['agentname'].str.replace('ERNEST AFUN','ERNEST AFUM')
final['agentname'] = final['agentname'].str.replace('ERNEST EFFUM','ERNEST AFUM')
final['agentname'] = final['agentname'].str.replace('EUNICE VISION WORMADEY','EUNICE VISION')
final['agentname'] = final['agentname'].str.replace('NANCY BIRIWAA','NANCY BIRIWA')

#final['agentname'] = final['agentname'].str.replace('PRISCILLA APPAU\t','PRISCILLA APPAU')
#final['agentname'] = final['agentname'].str.replace('NANCY CHRISTIANA BIRIWAAAA','NANCY BIRIWAA')

In [246]:
final['trans_type'] = np.where(final['source'] == 'AGENT', 'CASH', 'DIGITAL')

In [247]:
final

      Trans.ID             Trans.Date  ...       agentname trans_type
0    118063956  23/02/2022 08:05:07PM  ...     ERNEST AFUM       CASH
1    118055341  23/02/2022 06:42:10PM  ...  STEPHEN ATABOA       CASH
2    118054512  23/02/2022 06:36:17PM  ...  STEPHEN ATABOA       CASH
3    118054387  23/02/2022 06:35:23PM  ...  STEPHEN ATABOA       CASH
4    118054279  23/02/2022 06:34:21PM  ...  STEPHEN ATABOA       CASH
..         ...                    ...  ...             ...        ...
251  117944911  23/02/2022 12:03:48AM  ...  ERIC APPENTENG    DIGITAL
252  117944893  23/02/2022 12:02:47AM  ...  BENJAMIN QUAYE    DIGITAL
253  117944878  23/02/2022 12:02:02AM  ...     LAUD MENSAH    DIGITAL
254  117944870  23/02/2022 12:01:32AM  ...  OTHER CHANNELS    DIGITAL
255  117944861  23/02/2022 12:01:03AM  ...     YAA ASAMOAH    DIGITAL

[290 rows x 32 columns]

In [248]:
final['agentname'] = final['agentname'].str.replace(('\t'), '',regex=True)

In [249]:
final['agentname'] = final['agentname'].str.split().str.join(' ')

In [252]:
agent_list = pd.read_excel('agent_list.xlsx')

In [253]:
agent_list

                   agentname
0          ABENA SERWAH OSEI
1               ASANA BIANKA
2             BENJAMIN QUAYE
3             DELIGHT AZANDA
4         DENNIS AGGREY OTOO
5                EMEFA TESSY
6             ERIC APPENTENG
7                ERNEST AFUM
8              EUNICE VISION
9          FLORENCE ZINKPIEW
10            FRANCIS OPPONG
11              GIFTY LARTEY
12        JUSTINA  ANOSEDEMA
13              MANDY ASANTE
14              MARY BUABENG
15             MICHAEL BONSU
16               MOSES NDIDA
17              NANCY BIRIWA
18       OBED APPIAH ASAMOAH
19              PRINCE OHENE
20           PRISCILLA APPAU
21            RICHARD NYARBI
22      SAMUEL BOACHIE-ENNIN
23               DAVID OFORI
24             KELVIN BOAMAH
25               LAUD MENSAH
26           NEHEMIAH TETTEH
27              PRINCE OHENE
28               YAA ASAMOAH
29            DERRICK FILSON
30            ABRAHAM MENSAH
31      MOSES ALLISON TETTEH
32              GEORGE WEDZI
33       RICHMOND EDEM TSALA
34            WINFRED NYARKO
35  MABEL ADEI OPPONG KONADU
36         JUSTINA ANOSEDEMA
37          NAA DEEDEI ANNAG
38                NANCY KWAO
39           EBENEZER MENSAH

In [254]:
ag_list = pd.merge( final, agent_list,
                      on ='agentname', 
                      how ='right')

In [255]:
ag_list1 = pd.pivot_table(ag_list, index = ['Value Date','agentname'], columns = ['trans_type'], values = ['Net to Merchant'],aggfunc = np.sum)#######

In [256]:
ag_list1

                                Net to Merchant
trans_type                                 CASH DIGITAL
Value Date agentname
23/02/2022 ASANA BIANKA                     NaN   26.11
           BENJAMIN QUAYE                   NaN  195.90
           DAVID OFORI                      NaN   35.16
           DELIGHT AZANDA                   NaN   11.05
           DENNIS AGGREY OTOO               NaN  449.53
           DERRICK FILSON                   NaN   10.05
           EBENEZER MENSAH               150.67     NaN
           EMEFA TESSY                      NaN   65.30
           ERIC APPENTENG                   NaN   85.37
           ERNEST AFUM                   100.45   41.18
           EUNICE VISION                    NaN   55.25
           FLORENCE ZINKPIEW                NaN   13.05
           FRANCIS OPPONG                   NaN   17.07
           GIFTY LARTEY                     NaN   20.10
           LAUD MENSAH                      NaN  359.62
           MANDY ASANTE                     NaN  125.57
           MARY BUABENG                     NaN   25.11
           MICHAEL BONSU                    NaN  356.64
           MOSES NDIDA                      NaN   30.14
           NANCY BIRIWA                   10.04  175.83
           PRINCE OHENE                     NaN  190.88
           PRISCILLA APPAU                54.25     NaN
           RICHARD NYARBI                   NaN   75.34
           SAMUEL BOACHIE-ENNIN             NaN   12.06
           YAA ASAMOAH                      NaN  109.51

In [257]:
final1 = pd.pivot_table(final, index = ['agentname'], columns = ['trans_type'], values = ['Net to Merchant'],aggfunc = np.sum)

In [258]:
final1.to_excel('feb23.xlsx')

In [259]:
ag_list1.to_excel('FEB23.xlsx')