<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/monthly_withdrawal_summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import packages
import pandas as pd
import numpy as np
#!pip install xlsxwriter
#!pip install openpyxl --upgrade --pre

In [38]:
df = pd.read_excel('PaymentDataDump.xlsx')

In [ ]:
df.info()

In [39]:
df1 = df[['Creation time', '[Sesseion date]', 'Product type','Type', '[Withdrawal]' ]]

In [40]:
df1['Creation time'] = pd.to_datetime(df1['Creation time']).dt.date
df1['	[Sesseion date]	'] = pd.to_datetime(df1['[Sesseion date]']).dt.date

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
df1

     Creation time [Sesseion date]  ... [Withdrawal] \t[Sesseion date]\t
0       2022-01-25      2022-01-21  ...          0.0          2022-01-21
1       2022-01-25      2022-01-21  ...          0.0          2022-01-21
2       2022-01-17      2022-01-14  ...          0.0          2022-01-14
3       2022-01-18      2022-01-12  ...          0.0          2022-01-12
4       2022-02-02      2022-01-25  ...          0.0          2022-01-25
...            ...             ...  ...          ...                 ...
8917    2022-01-21      2022-01-12  ...          0.0          2022-01-12
8918    2022-01-26      2022-01-12  ...          0.0          2022-01-12
8919    2022-01-28      2022-01-28  ...          0.0          2022-01-28
8920    2022-01-21      2022-01-21  ...          0.0          2022-01-21
8921    2022-01-21      2022-01-21  ...          0.0          2022-01-21

[8922 rows x 6 columns]

In [47]:
df2 = df1.loc[df1['Type'].isin([ 'Savings Withdrawal'])]

In [48]:
df2['Product type'].value_counts()

PPT Personal Pension Scheme    71
Name: Product type, dtype: int64

In [49]:
df2.Type.value_counts()

Savings Withdrawal    71
Name: Type, dtype: int64

In [50]:
df2 = pd.pivot_table(df2, index = ['[Sesseion date]'], columns = ['Product type'], values = ['[Withdrawal]'],aggfunc = np.sum)

In [51]:
df2

                               [Withdrawal]
Product type    PPT Personal Pension Scheme
[Sesseion date]
2022-01-10                           3450.0
2022-01-12                           1280.0
2022-01-14                           4700.0
2022-01-20                           5850.0
2022-01-24                           3760.0
2022-01-26                           1640.0
2022-01-27                           5090.0