<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/RETIRERITE%26EASYPENSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel('finalpd.xlsx')

In [ ]:
df.info()

In [ ]:
df['set1'] = df.iloc[:,3].str[:3]

In [ ]:
TR0 = df[df.set1 == 'TR0']
PPT = df[df.set1== 'PPT']
IPA = df[df.set1 == 'IPA']
PA0 = df[df.set1== 'PA0']
N209 = df[df.set1 == '209']
N224= df[df.set1 == '224']

In [ ]:
IPA['NewBatch'] = IPA.iloc[:,3].str[:14]
TR0['NewBatch'] = TR0.iloc[:,3].str[:12]
PPT['NewBatch'] = PPT.iloc[:,3].str[:10]

In [ ]:
frames = [PPT, IPA, TR0,PA0, N209,N224 ]

In [ ]:
result = pd.concat(frames)

In [ ]:
result

In [ ]:
result.NewBatch.fillna('Actual',inplace=True)

In [ ]:
result.isnull().sum()

In [ ]:
result['Reversal'] = result.iloc[:,3].str[-2:]

In [ ]:
result.loc[result['Reversal'] == '/1', 'Status'] = 'Reversal' 
result.loc[result['Reversal'] != '/1', 'Status'] = 'Actual'

In [ ]:
result.Status.value_counts()

In [ ]:
actual=result[result['Status']=='Actual']

In [ ]:
rever=result[result['Status']=='Reversal']

In [ ]:
rever

,Id,Creation time,[Sesseion date],Batch number,Mobile,Product type,[Scheme number],[Other number],User name,Method,Type,Reference,[Contribution],[Withdrawal],set1,NewBatch,Reversal,Status
108940,266081,2021-09-22,2021-09-16,PPTMN13057/1,0555557940,PPT Personal Pension Scheme,1010PPS013001,0781176871,jquansah,MOMO,DEPOSIT,CONTRIBUTION/reversed,0.0,134.68,PPT,PPTMN13057,/1,Reversal
110762,268438,2021-09-28,2021-09-24,PPT7DJ3860/1,0595108414,PPT Personal Pension Scheme,1010PPS043393,NaN,jquansah,CARD,DEPOSIT,CONTRIBUTION/reversed,0.0,100.00,PPT,PPT7DJ3860,/1,Reversal
148235,327567,2022-01-10,2021-12-21,PPTBV76582/1,0553144664,PPT Provident Fund Scheme,1010PFS012849,0123817136,jquansah,MOMO,DEPOSIT,CONTRIBUTION/Reversed,0.0,1.00,PPT,PPTBV76582,/1,Reversal
148236,327569,2022-01-10,2021-12-21,PPTBX74808/1,0553144664,PPT Provident Fund Scheme,1010PFS012849,0123817136,jquansah,MOMO,DEPOSIT,CONTRIBUTION/Reversed,0.0,1.00,PPT,PPTBX74808,/1,Reversal
148237,327571,2022-01-10,2021-12-20,PPTF571160/1,0553144664,PPT Provident Fund Scheme,1010PFS012849,0123817136,jquansah,MOMO,DEPOSIT,CONTRIBUTION/Reversed,0.0,1.00,PPT,PPTF571160,/1,Reversal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177901,377123,2022-03-15,2022-02-21,TR0853239431/1,0509776530,PPT Occupational Pension Scheme,1010OPS005870,NaN,jquansah,SCB-OPS Cheque Payment,Deposit,Payment for December 2021/Reversed,0.0,40.00,TR0,TR0853239431,/1,Reversal
177902,377124,2022-03-15,2022-02-21,TR0853239431/1,0548414783,PPT Occupational Pension Scheme,1010OPS007508,NaN,jquansah,SCB-OPS Cheque Payment,Deposit,Payment for December 2021/Reversed,0.0,45.00,TR0,TR0853239431,/1,Reversal
177903,377125,2022-03-15,2022-02-21,TR0853239431/1,0241298889,PPT Occupational Pension Scheme,1010OPS007507,NaN,jquansah,SCB-OPS Cheque Payment,Deposit,Payment for December 2021/Reversed,0.0,30.00,TR0,TR0853239431,/1,Reversal
177904,377126,2022-03-15,2022-02-21,TR0853239431/1,0244834444,PPT Personal Pension Scheme,1010PPS044049,NaN,jquansah,SCB-OPS Cheque Payment,Deposit,Payment for December 2021/Reversed,0.0,75.00,TR0,TR0853239431,/1,Reversal
177905,377127,2022-03-15,2022-02-21,TR0853239431/1,0240436359,PPT Occupational Pension Scheme,1010OPS005860,NaN,jquansah,SCB-OPS Cheque Payment,Deposit,Payment for December 2021/Reversed,0.0,40.00,TR0,TR0853239431,/1,Reversal

In [ ]:
C = actual.loc[~((actual.NewBatch.isin(rever["NewBatch"])))]

In [ ]:
c1 = C.loc[C['Product type'] == 'PPT Personal Pension Scheme']

In [ ]:
c1

,Id,Creation time,[Sesseion date],Batch number,Mobile,Product type,[Scheme number],[Other number],User name,Method,Type,Reference,[Contribution],[Withdrawal],set1,NewBatch,Reversal,Status
65657,241230,2021-08-16,2021-08-16,PPT0000012,0264330988,PPT Personal Pension Scheme,1010PPS043862,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,3.0,0.0,PPT,PPT0000012,12,Actual
66293,247723,2021-08-24,2021-08-24,PPT000079,0551747672,PPT Personal Pension Scheme,1010PPS007999,1028174,System,MOMO,DEPOSIT,CONTRIBUTION,20.0,0.0,PPT,PPT000079,79,Actual
66294,247725,2021-08-24,2021-08-24,PPT000080,0249881699,PPT Personal Pension Scheme,1010PPS008630,1004077,System,MOMO,DEPOSIT,CONTRIBUTION,5.0,0.0,PPT,PPT000080,80,Actual
66313,247748,2021-08-24,2021-08-24,PPT000082,0240669325,PPT Personal Pension Scheme,1010PPS007889,1011518,System,MOMO,DEPOSIT,CONTRIBUTION,10.0,0.0,PPT,PPT000082,82,Actual
66314,247750,2021-08-24,2021-08-24,PPT000084,0544124651,PPT Personal Pension Scheme,1010PPS004710,1041645,System,MOMO,DEPOSIT,CONTRIBUTION,10.0,0.0,PPT,PPT000084,84,Actual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87857,238596,2021-08-10,2021-08-10,PA0008,0509245106,PPT Personal Pension Scheme,1010PPS007969,1019452,System,MOMO,DEPOSIT,CONTRIBUTION,100.0,0.0,PA0,Actual,08,Actual
88760,239591,2021-08-10,2021-08-10,PA0009,0264330988,PPT Personal Pension Scheme,1010PPS043862,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,10.0,0.0,PA0,Actual,09,Actual
88761,239593,2021-08-10,2021-08-10,PA010,0264330988,PPT Personal Pension Scheme,1010PPS043862,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,10.0,0.0,PA0,Actual,10,Actual
79667,228175,2021-07-15,2021-07-15,209,0541082573,PPT Personal Pension Scheme,1010PPS043693,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,1.0,0.0,209,Actual,09,Actual
76898,224873,2021-07-06,2021-07-06,224,0207525483,PPT Personal Pension Scheme,1010PPS009056,1004520,System,MOMO,DEPOSIT,CONTRIBUTION,0.1,0.0,224,Actual,24,Actual

In [ ]:
f = pd.pivot_table(c1, index = ['[Scheme number]'], values = ['[Contribution]'],aggfunc = np.sum)

In [ ]:
f.to_excel('f1.xlsx')

In [ ]:
a = pd.read_excel('EASY PERNSION & RETIRE RITE.xlsx', sheet_name = 'Sheet1')

In [ ]:
df["[Sesseion date]"] = pd.to_datetime(df["[Sesseion date]"])
df_s = df.sort_values(by='[Sesseion date]',ascending=True)
df_s = df.drop_duplicates(subset=['[Scheme number]'], keep='last')

In [ ]:
df["[Sesseion date]"] = pd.to_datetime(df["[Sesseion date]"])
df_c = df.sort_values(by='[Sesseion date]',ascending=True)
df_c = df.drop_duplicates(subset=['[Scheme number]'], keep='last')

In [ ]:
df_s

,Id,Creation time,[Sesseion date],Batch number,Mobile,Product type,[Scheme number],[Other number],User name,Method,Type,Reference,[Contribution],[Withdrawal],set1
31,9405,2021-01-09,2020-12-18,TR0788750966,0544840057,PPT Occupational Pension Scheme,1010OPS000014,1001267,admin,NON-CASH,deposit,BALANCE B/FWD,115.00,0.0,TR0
34,9411,2021-01-09,2020-12-18,TR0788750966,0245616834,PPT Occupational Pension Scheme,1010OPS000976,1020228,admin,NON-CASH,deposit,BALANCE B/FWD,157.00,0.0,TR0
35,9413,2021-01-09,2020-12-18,TR0788750966,0207092570,PPT Occupational Pension Scheme,1010OPS000019,1001273,admin,NON-CASH,deposit,BALANCE B/FWD,116.00,0.0,TR0
37,9417,2021-01-09,2020-12-18,TR0788750966,0543895858,PPT Occupational Pension Scheme,1010OPS000021,1001275,admin,NON-CASH,deposit,BALANCE B/FWD,670.00,0.0,TR0
42,9427,2021-01-09,2020-12-18,TR0788750966,0243753204,PPT Occupational Pension Scheme,1010OPS000026,1003066,admin,NON-CASH,deposit,BALANCE B/FWD,1018.82,0.0,TR0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180271,383757,2022-03-21,2022-03-21,PPT8441253,0549292946,PPT Personal Pension Scheme,1010PPS043568,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,1.00,0.0,PPT
180272,383760,2022-03-21,2022-03-21,PPTU441284,0242343001,PPT Personal Pension Scheme,1010PPS007417,1012220,System,MOMO,DEPOSIT,CONTRIBUTION,5.00,0.0,PPT
180273,383762,2022-03-21,2022-03-21,PPTA441318,0244698706,PPT Personal Pension Scheme,1010PPS008690,1017821,System,MOMO,DEPOSIT,CONTRIBUTION,10.00,0.0,PPT
180274,383764,2022-03-21,2022-03-21,PPTX441397,0546038666,PPT Personal Pension Scheme,1010PPS041216,1039363,System,MOMO,DEPOSIT,CONTRIBUTION,20.00,0.0,PPT
180275,383766,2022-03-21,2022-03-21,PPTG441399,0244884605,PPT Personal Pension Scheme,1010PPS045273,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,25.00,0.0,PPT

In [ ]:
df_f = df_s.filter(["[Sesseion date]",'[Scheme number]'])

In [ ]:
df_e = df_c.filter(['[Contribution]','[Scheme number]'])

In [ ]:
df_f.rename(columns={'[Sesseion date]': 'Lastpayment'}, inplace = True)

In [ ]:
df_e.rename(columns={'[Contribution]':'LastContributionAmount'}, inplace = True)

In [ ]:
C = pd.merge( a, df_f,
                      on ='[Scheme number]', 
                      how ='left')

In [ ]:
C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103 entries, 0 to 1102
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   [Scheme number]    1103 non-null   object
 1   [Contribution]     1103 non-null   float64
 2   Assigned Group     1103 non-null   object
 3   Name               0 non-null      float64
 4   Phone Number       0 non-null      float64
 5   Last Payment Date  0 non-null      float64
 6   Lastpayment        1103 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 68.9+ KB

In [ ]:
C = pd.merge( C, df_e,
                      on ='[Scheme number]', 
                      how ='left')

In [ ]:
C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103 entries, 0 to 1102
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   [Scheme number]         1103 non-null   object
 1   [Contribution]          1103 non-null   float64
 2   Assigned Group          1103 non-null   object
 3   Name                    0 non-null      float64
 4   Phone Number            0 non-null      float64
 5   Last Payment Date       0 non-null      float64
 6   Lastpayment             1103 non-null   datetime64[ns]
 7   LastContributionAmount  1103 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 77.6+ KB

In [ ]:
nc = C.filter(['Mobile','[Scheme number]','[Contribution]','Lastpayment','LastContributionAmount'])

In [ ]:
nc

     [Scheme number]  [Contribution] Lastpayment  LastContributionAmount
0      1010PPS009192        12500.00  2021-08-25                    0.00
1      1010PPS009159         5620.00  2021-01-09                  400.00
2      1010PPS009028         3800.00  2022-03-15                   50.00
3      1010PPS009067         3620.00  2022-03-18                  200.00
4      1010PPS009094         3080.00  2021-12-07                   50.00
...              ...             ...         ...                     ...
1098   1010PPS000710            0.05  2020-12-18                    0.05
1099   1010PPS000704            0.04  2020-12-18                    0.04
1100   1010PPS000705            0.04  2020-12-18                    0.04
1101   1010PPS000700            0.01  2020-12-18                    0.01
1102   1010PPS000701            0.01  2020-12-18                    0.01

[1103 rows x 4 columns]

In [ ]:
e = pd.read_excel('MembersDump.xlsx')

In [ ]:
e.info()

In [ ]:
e['FullName'] = e['First name'] + ' '+ e['[Last name]']

In [ ]:
ne = e.filter(['FullName','[Scheme number]','Mobile'])

In [ ]:
n = pd.merge( C, ne,
                      on ='[Scheme number]', 
                      how ='left')

In [ ]:
n

In [ ]:
n.to_excel('a2.xlsx')

In [ ]:

rr = n[n['Group name']=='RETIRERITE']
ep = n[n['Group name']=='EASY PENSION']

In [ ]:
ep

In [ ]:
ep1 = pd.pivot_table(ep, index = ['FullName','Mobile','[Scheme number]','Lastpayment','LastContributionAmount'], columns = ['Group name'], values = ['[Contribution]'],aggfunc = np.sum)

In [ ]:
rr1 = pd.pivot_table(rr, index = ['FullName','Mobile','[Scheme number]','Lastpayment','LastContributionAmount'], columns = ['Group name'], values = ['[Contribution]'],aggfunc = np.sum)

In [ ]:
ep1

In [ ]:
ep1.to_excel('EASYPENSION.xlsx')

In [ ]:
rr1.to_excel('RETIRERITE.xlsx')