<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/samadu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import numpy as np
import pandas as pd

In [90]:
df = pd.read_excel('all.xlsx')

In [91]:
df

,Id,Creation time,[Sesseion date],Batch number,Mobile,Product type,[Scheme number],[Other number],User name,Method,Type,Reference,[Contribution],[Withdrawal]
0,163630,2021-04-06,2021-04-01,TR0511262222,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,cheque,Deposit,Payment for Febraury 2021,18.00,0.0
1,140496,2021-02-11,2021-01-27,TR0608854710,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,cheque,Deposit,Payment for December 2020,18.00,0.0
2,152560,2021-03-11,2021-03-03,TR0253752022,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,cheque,Deposit,Payment for January 2021,18.00,0.0
3,193488,2021-05-06,2021-04-30,TR0793989825,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,SCB-OPS Cash Payment,Deposit,Payment for March 2021,18.00,0.0
4,208499,2021-06-04,2021-05-31,TR0064567367,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,SCB-OPS Cash Payment,Deposit,Payment for April 2021,18.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153247,367439,2022-03-01,2022-01-21,TR0072161308,0556190256,PPT Occupational Pension Scheme,1010OPS008929,NaN,sayertey,SCB-OPS Cheque Payment,Deposit,Payment for December 2021,18.55,0.0
153248,367440,2022-03-01,2022-01-21,TR0072161308,0249689084,PPT Occupational Pension Scheme,1010OPS008930,NaN,sayertey,SCB-OPS Cheque Payment,Deposit,Payment for December 2021,18.55,0.0
153249,367441,2022-03-01,2022-01-21,TR0072161308,0277793008,PPT Occupational Pension Scheme,1010OPS008931,NaN,sayertey,SCB-OPS Cheque Payment,Deposit,Payment for December 2021,18.55,0.0
153250,366298,2022-02-28,2022-02-28,PPTL347791,0553753788,PPT Personal Pension Scheme,1010PPS045246,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,2.00,0.0
153251,366394,2022-02-28,2022-02-28,PPTE348262,0505660467,PPT Personal Pension Scheme,1010PPS045257,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,10.00,0.0

In [92]:
df['Sector'] = df['Product type'].replace({'PPT Personal Pension Scheme':'Informal','PPT Occupational Pension Scheme':'Formal','PPT TUC UNIWA Scheme':'Informal','PPT Provident Fund Scheme':'Formal'})

In [93]:
# Creating a column based on 1st 3 letters of batch number
df['Group'] = df.iloc[:,3].str[:3]

In [94]:
TR0 = df[df.Group == 'TR0']
PPT = df[df.Group == 'PPT']
IPA = df[df.Group == 'IPA']
PA0 = df[df.Group == 'PA0']
N209 = df[df.Group == '209']
N224= df[df.Group == '224']

In [95]:
IPA['NewBatch'] = IPA.iloc[:,3].str[:14]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
IPA['NewBatch'] = IPA.iloc[:,3].str[:14]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [97]:
TR0['NewBatch'] = TR0.iloc[:,3].str[:12]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
frames = [PPT, IPA, TR0,PA0, N209,N224 ]

In [99]:
result = pd.concat(frames)

In [100]:
result['Reversal'] = result.iloc[:,3].str[-2:]

In [101]:
result.loc[result['Reversal'] == '/1', 'Status'] = 'Reversal' 
result.loc[result['Reversal'] != '/1', 'Status'] = 'Actual'

In [102]:
actual=result[result['Status']=='Actual']

In [103]:
rever=result[result['Status']=='Reversal']

In [104]:
C = actual.loc[~((actual.NewBatch.isin(rever["NewBatch"])))]

In [105]:
C.Status.value_counts()

Actual    112814
Name: Status, dtype: int64

In [106]:
C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112814 entries, 332 to 153249
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Id               112814 non-null  int64
 1   Creation time    112814 non-null  datetime64[ns]
 2   [Sesseion date]  112814 non-null  datetime64[ns]
 3   Batch number     112814 non-null  object
 4   Mobile           112812 non-null  object
 5   Product type     112814 non-null  object
 6   [Scheme number]  112814 non-null  object
 7   [Other number]   85511 non-null   object
 8   User name        112814 non-null  object
 9   Method           112805 non-null  object
 10  Type             112814 non-null  object
 11  Reference        112814 non-null  object
 12  [Contribution]   112814 non-null  float64
 13  [Withdrawal]     112814 non-null  float64
 14  Sector           112814 non-null  object
 15  Group            112814 non-null  object
 16  NewBatch         112814 non-null  object
 17  Reversal         112814 non-null  object
 18  Status           112814 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(14)
memory usage: 17.2+ MB

In [107]:
C = C.rename(columns = {'[Sesseion date]':'sessiondate'})

In [108]:
C["sessiondate"] = pd.to_datetime(C["sessiondate"])
C.sessiondate  = C.sessiondate.dt.strftime('%Y-%m')

In [109]:
C['Mobile'] = C['Mobile'].str[1:]

In [110]:
C['Mobile'] = '233'+ C['Mobile']

In [111]:
C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112814 entries, 332 to 153249
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Id               112814 non-null  int64
 1   Creation time    112814 non-null  datetime64[ns]
 2   sessiondate      112814 non-null  object
 3   Batch number     112814 non-null  object
 4   Mobile           112812 non-null  object
 5   Product type     112814 non-null  object
 6   [Scheme number]  112814 non-null  object
 7   [Other number]   85511 non-null   object
 8   User name        112814 non-null  object
 9   Method           112805 non-null  object
 10  Type             112814 non-null  object
 11  Reference        112814 non-null  object
 12  [Contribution]   112814 non-null  float64
 13  [Withdrawal]     112814 non-null  float64
 14  Sector           112814 non-null  object
 15  Group            112814 non-null  object
 16  NewBatch         112814 non-null  object
 17  Reversal         112814 non-null  object
 18  Status           112814 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 17.2+ MB

In [115]:
#C.to_excel('a.xlsx')

In [113]:
md = pd.read_excel('md2802.xlsx') #member dump
md =md[['agentname', 'Mobile']]

In [114]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50491 entries, 0 to 50490
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  50491 non-null  object
 1   Mobile     50491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 789.0+ KB

In [117]:
a = pd.read_excel('a.xlsx')

In [150]:
b = pd.read_excel('MembersDump (1).xlsx')

In [151]:
b = b.filter(['Mobile','[Scheme number]','Start date'])

In [152]:
b['Mobile'] = b['Mobile'].str[1:]
b['Mobile'] = '233'+ b['Mobile']

In [156]:
b["Start date"] = pd.to_datetime(b["Start date"])
b['Start date']  = b['Start date'].dt.strftime('%Y-%m')

In [159]:
b.to_excel('b.xlsx')

In [160]:
b1 = pd.read_excel('b1.xlsx')

In [161]:
b2 = pd.merge( b1, md,
                      on ='Mobile', 
                      how ='left')

In [118]:
c2 = pd.merge( a, md,
                      on ='Mobile', 
                      how ='left')

In [119]:
c2.agentname.value_counts()

DENNIS AGGREY OTOO     17509
ERIC APPENTENG         10867
ABENA SERWAH OSEI       7406
OBED APPIAH ASAMOAH     5813
RICHARD NYARBI          5267
                       ...
KELVIN BOAMAH              4
SAMUEL MUSAH               3
JANNES STEVENS             2
DIASPORA HOMECARE          1
NANCY KWAO                 1
Name: agentname, Length: 115, dtype: int64

In [122]:
C
c4 = c3.loc[c3['Product type'] == 'PPT Personal Pension Scheme' ]

In [123]:
c4['Product type'].value_counts()

PPT Personal Pension Scheme    282
Name: Product type, dtype: int64

In [138]:
c5 = c4.loc[c4['[Withdrawal]'] == 0.0 ]

In [129]:
c5['[Withdrawal]'].value_counts()

0.0    264
Name: [Withdrawal], dtype: int64

In [139]:
c5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264 entries, 82 to 122079
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               264 non-null    int64
 1   Creation time    264 non-null    int64
 2   sessiondate      264 non-null    object
 3   Batch number     264 non-null    object
 4   Mobile           264 non-null    object
 5   Product type     264 non-null    object
 6   [Scheme number]  264 non-null    object
 7   [Other number]   254 non-null    object
 8   User name        264 non-null    object
 9   Method           264 non-null    object
 10  Type             264 non-null    object
 11  Reference        264 non-null    object
 12  [Contribution]   264 non-null    float64
 13  [Withdrawal]     264 non-null    float64
 14  Sector           264 non-null    object
 15  Group            264 non-null    object
 16  NewBatch         264 non-null    object
 17  Reversal         264 non-null    int64
 18  Status           264 non-null    object
 19  agentname        264 non-null    object
dtypes: float64(2), int64(3), object(15)
memory usage: 43.3+ KB

In [140]:
c5 = c5.filter(['sessiondate','[Contribution]','agentname','[Scheme number]'])

In [145]:
c5

       sessiondate  [Contribution]     agentname [Scheme number]
82         2021-08            20.0  NAKOE SAMADU   1010PPS007091
413        2021-08            10.0  NAKOE SAMADU   1010PPS012756
414        2021-07            20.0  NAKOE SAMADU   1010PPS012756
415        2021-07            20.0  NAKOE SAMADU   1010PPS012756
416        2021-08            10.0  NAKOE SAMADU   1010PPS012756
...            ...             ...           ...             ...
122075     2022-02           500.0  NAKOE SAMADU   1010PPS009190
122076     2022-01           500.0  NAKOE SAMADU   1010PPS009194
122077     2022-02           500.0  NAKOE SAMADU   1010PPS009194
122078     2022-02           500.0  NAKOE SAMADU   1010PPS009196
122079     2022-01           500.0  NAKOE SAMADU   1010PPS009196

[264 rows x 4 columns]

In [162]:
b2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6690 entries, 0 to 6689
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mobile           6679 non-null   object
 1   [Scheme number]  6690 non-null   object
 2   Start date       6690 non-null   object
 3   agentname        6111 non-null   object
dtypes: object(4)
memory usage: 261.3+ KB

In [166]:
b3= b2.loc[b2['agentname'] == 'NAKOE SAMADU' ]

In [167]:
lb= pd.pivot_table(b3, index = ['Start date', '[Scheme number]'], columns = ['agentname'])#, values = ['[Contribution]'],aggfunc = np.sum)#######

In [169]:
lb.to_excel('lbs.xlsx')

In [142]:
l = pd.pivot_table(c5, index = ['sessiondate', '[Scheme number]'], columns = ['agentname'], values = ['[Contribution]'],aggfunc = np.sum)#######

In [144]:
l.to_excel('samadu.xlsx')