<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/samadu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [119]:
import numpy as np
import pandas as pd

In [120]:
df = pd.read_excel('all.xlsx')

In [121]:
df

,Id,Creation time,[Sesseion date],Batch number,Mobile,Product type,[Scheme number],[Other number],User name,Method,Type,Reference,[Contribution],[Withdrawal]
0,163630,2021-04-06,2021-04-01,TR0511262222,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,cheque,Deposit,Payment for Febraury 2021,18.00,0.0
1,140496,2021-02-11,2021-01-27,TR0608854710,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,cheque,Deposit,Payment for December 2020,18.00,0.0
2,152560,2021-03-11,2021-03-03,TR0253752022,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,cheque,Deposit,Payment for January 2021,18.00,0.0
3,193488,2021-05-06,2021-04-30,TR0793989825,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,SCB-OPS Cash Payment,Deposit,Payment for March 2021,18.00,0.0
4,208499,2021-06-04,2021-05-31,TR0064567367,0203266010,PPT Occupational Pension Scheme,1010OPS000001,1000040,skubi,SCB-OPS Cash Payment,Deposit,Payment for April 2021,18.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153247,367439,2022-03-01,2022-01-21,TR0072161308,0556190256,PPT Occupational Pension Scheme,1010OPS008929,NaN,sayertey,SCB-OPS Cheque Payment,Deposit,Payment for December 2021,18.55,0.0
153248,367440,2022-03-01,2022-01-21,TR0072161308,0249689084,PPT Occupational Pension Scheme,1010OPS008930,NaN,sayertey,SCB-OPS Cheque Payment,Deposit,Payment for December 2021,18.55,0.0
153249,367441,2022-03-01,2022-01-21,TR0072161308,0277793008,PPT Occupational Pension Scheme,1010OPS008931,NaN,sayertey,SCB-OPS Cheque Payment,Deposit,Payment for December 2021,18.55,0.0
153250,366298,2022-02-28,2022-02-28,PPTL347791,0553753788,PPT Personal Pension Scheme,1010PPS045246,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,2.00,0.0
153251,366394,2022-02-28,2022-02-28,PPTE348262,0505660467,PPT Personal Pension Scheme,1010PPS045257,NaN,System,MOMO,DEPOSIT,CONTRIBUTION,10.00,0.0

In [122]:
df['Sector'] = df['Product type'].replace({'PPT Personal Pension Scheme':'Informal','PPT Occupational Pension Scheme':'Formal','PPT TUC UNIWA Scheme':'Informal','PPT Provident Fund Scheme':'Formal'})

In [123]:
# Creating a column based on 1st 3 letters of batch number
df['Group'] = df.iloc[:,3].str[:3]

In [124]:
TR0 = df[df.Group == 'TR0']
PPT = df[df.Group == 'PPT']
IPA = df[df.Group == 'IPA']
PA0 = df[df.Group == 'PA0']
N209 = df[df.Group == '209']
N224= df[df.Group == '224']

In [125]:
IPA['NewBatch'] = IPA.iloc[:,3].str[:14]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [126]:
IPA['NewBatch'] = IPA.iloc[:,3].str[:14]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [127]:
TR0['NewBatch'] = TR0.iloc[:,3].str[:12]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [128]:
frames = [PPT, IPA, TR0,PA0, N209,N224 ]

In [129]:
result = pd.concat(frames)

In [130]:
result['Reversal'] = result.iloc[:,3].str[-2:]

In [131]:
result.loc[result['Reversal'] == '/1', 'Status'] = 'Reversal' 
result.loc[result['Reversal'] != '/1', 'Status'] = 'Actual'

In [132]:
actual=result[result['Status']=='Actual']

In [133]:
rever=result[result['Status']=='Reversal']

In [134]:
C = actual.loc[~((actual.NewBatch.isin(rever["NewBatch"])))]

In [135]:
C.Status.value_counts()

Actual    112814
Name: Status, dtype: int64

In [136]:
C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112814 entries, 332 to 153249
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Id               112814 non-null  int64
 1   Creation time    112814 non-null  datetime64[ns]
 2   [Sesseion date]  112814 non-null  datetime64[ns]
 3   Batch number     112814 non-null  object
 4   Mobile           112812 non-null  object
 5   Product type     112814 non-null  object
 6   [Scheme number]  112814 non-null  object
 7   [Other number]   85511 non-null   object
 8   User name        112814 non-null  object
 9   Method           112805 non-null  object
 10  Type             112814 non-null  object
 11  Reference        112814 non-null  object
 12  [Contribution]   112814 non-null  float64
 13  [Withdrawal]     112814 non-null  float64
 14  Sector           112814 non-null  object
 15  Group            112814 non-null  object
 16  NewBatch         112814 non-null  object
 17  Reversal         112814 non-null  object
 18  Status           112814 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(14)
memory usage: 17.2+ MB

In [137]:
C = C.rename(columns = {'[Sesseion date]':'sessiondate'})

In [138]:
C["sessiondate"] = pd.to_datetime(C["sessiondate"])
C.sessiondate  = C.sessiondate.dt.strftime('%Y-%m')

In [139]:
C['Mobile'] = C['Mobile'].str[1:]

In [140]:
C['Mobile'] = '233'+ C['Mobile']

In [141]:
C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112814 entries, 332 to 153249
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Id               112814 non-null  int64
 1   Creation time    112814 non-null  datetime64[ns]
 2   sessiondate      112814 non-null  object
 3   Batch number     112814 non-null  object
 4   Mobile           112812 non-null  object
 5   Product type     112814 non-null  object
 6   [Scheme number]  112814 non-null  object
 7   [Other number]   85511 non-null   object
 8   User name        112814 non-null  object
 9   Method           112805 non-null  object
 10  Type             112814 non-null  object
 11  Reference        112814 non-null  object
 12  [Contribution]   112814 non-null  float64
 13  [Withdrawal]     112814 non-null  float64
 14  Sector           112814 non-null  object
 15  Group            112814 non-null  object
 16  NewBatch         112814 non-null  object
 17  Reversal         112814 non-null  object
 18  Status           112814 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 17.2+ MB

In [142]:
#C.to_excel('a.xlsx')

In [143]:
md = pd.read_excel('md2802.xlsx') #member dump
md =md[['agentname', 'Mobile']]

In [144]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50491 entries, 0 to 50490
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agentname  50491 non-null  object
 1   Mobile     50491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 789.0+ KB

In [145]:
a = pd.read_excel('a.xlsx')

In [146]:
#b = pd.read_excel('MembersDump (1).xlsx')

In [147]:
#b = b.filter(['Mobile','[Scheme number]','Start date'])

In [148]:
#b['Mobile'] = b['Mobile'].str[1:]
#b['Mobile'] = '233'+ b['Mobile']

In [149]:
#b["Start date"] = pd.to_datetime(b["Start date"])
#b['Start date']  = b['Start date'].dt.strftime('%Y-%m')

In [150]:
#b.to_excel('b.xlsx')

In [151]:
b1 = pd.read_excel('b1.xlsx')

In [152]:
b2 = pd.merge( b1, md,
                      on ='Mobile', 
                      how ='left')

In [153]:
c2 = pd.merge( a, md,
                      on ='Mobile', 
                      how ='left')

In [154]:
c2.agentname.value_counts()

DENNIS AGGREY OTOO     17509
ERIC APPENTENG         10867
ABENA SERWAH OSEI       7406
OBED APPIAH ASAMOAH     5813
RICHARD NYARBI          5267
                       ...
KELVIN BOAMAH              4
SAMUEL MUSAH               3
JANNES STEVENS             2
DIASPORA HOMECARE          1
NANCY KWAO                 1
Name: agentname, Length: 113, dtype: int64

In [155]:
c2

,Id,Creation time,sessiondate,Batch number,Mobile,Product type,[Scheme number],[Other number],User name,Method,Type,Reference,[Contribution],[Withdrawal],Sector,Group,NewBatch,Reversal,Status,agentname
0,253247,44438,2021-08,IPAY0269540543,233246014301,PPT Occupational Pension Scheme,1010OPS000048,1003150,System,MOMO,DEPOSIT,CONTRIBUTION,1.00,0.0,Formal,IPA,IPAY0269540543,43,Actual,ERIC APPENTENG
1,238178,44417,2021-08,IPAY0263178962,233246014301,PPT Occupational Pension Scheme,1010OPS000048,1003150,System,MOMO,DEPOSIT,CONTRIBUTION,1.00,0.0,Formal,IPA,IPAY0263178962,62,Actual,ERIC APPENTENG
2,243201,44425,2021-08,IPAY0265900457,233246014301,PPT Occupational Pension Scheme,1010OPS000048,1003150,System,MOMO,DEPOSIT,CONTRIBUTION,0.10,0.0,Formal,IPA,IPAY0265900457,57,Actual,ERIC APPENTENG
3,232042,44404,2021-07,IPAY0259301261,233246014301,PPT Occupational Pension Scheme,1010OPS000048,1003150,System,MOMO,DEPOSIT,CONTRIBUTION,1.00,0.0,Formal,IPA,IPAY0259301261,61,Actual,ERIC APPENTENG
4,231156,44403,2021-07,IPAY0258887755,233546700600,PPT Occupational Pension Scheme,1010OPS002699,1040390,System,MOMO,DEPOSIT,CONTRIBUTION,100.00,0.0,Formal,IPA,IPAY0258887755,55,Actual,DENNIS AGGREY OTOO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125511,366607,44620,2022-01,TR0234046980,233200322222,PPT Occupational Pension Scheme,1010OPS008927,NaN,sayertey,SCB OPS Payment,Deposit,Payment for December 2021,22.82,0.0,Formal,TR0,TR0234046980,80,Actual,ABENA SERWAH OSEI
125512,366608,44620,2022-01,TR0234046980,233200002200,PPT Occupational Pension Scheme,1010OPS008928,NaN,sayertey,SCB OPS Payment,Deposit,Payment for December 2021,22.82,0.0,Formal,TR0,TR0234046980,80,Actual,ABENA SERWAH OSEI
125513,367439,44621,2022-01,TR0072161308,233556190256,PPT Occupational Pension Scheme,1010OPS008929,NaN,sayertey,SCB-OPS Cheque Payment,Deposit,Payment for December 2021,18.55,0.0,Formal,TR0,TR0072161308,8,Actual,OBED APPIAH ASAMOAH
125514,367440,44621,2022-01,TR0072161308,233249689084,PPT Occupational Pension Scheme,1010OPS008930,NaN,sayertey,SCB-OPS Cheque Payment,Deposit,Payment for December 2021,18.55,0.0,Formal,TR0,TR0072161308,8,Actual,OBED APPIAH ASAMOAH
125515,367441,44621,2022-01,TR0072161308,233277793008,PPT Occupational Pension Scheme,1010OPS008931,NaN,sayertey,SCB-OPS Cheque Payment,Deposit,Payment for December 2021,18.55,0.0,Formal,TR0,TR0072161308,8,Actual,OBED APPIAH ASAMOAH

In [167]:
c3 = c2.loc[c2['agentname'] == 'RICHARD NYARBI']
c4 = c3.loc[c3['Product type'] == 'PPT Personal Pension Scheme' ]

In [168]:
c4['Product type'].value_counts()

PPT Personal Pension Scheme    377
Name: Product type, dtype: int64

In [169]:
c5 = c4.loc[c4['[Withdrawal]'] == 0.0 ]

In [170]:
c5['[Withdrawal]'].value_counts()

0.0    372
Name: [Withdrawal], dtype: int64

In [171]:
c5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 43 to 121965
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               372 non-null    int64
 1   Creation time    372 non-null    int64
 2   sessiondate      372 non-null    object
 3   Batch number     372 non-null    object
 4   Mobile           372 non-null    object
 5   Product type     372 non-null    object
 6   [Scheme number]  372 non-null    object
 7   [Other number]   266 non-null    object
 8   User name        372 non-null    object
 9   Method           372 non-null    object
 10  Type             372 non-null    object
 11  Reference        372 non-null    object
 12  [Contribution]   372 non-null    float64
 13  [Withdrawal]     372 non-null    float64
 14  Sector           372 non-null    object
 15  Group            372 non-null    object
 16  NewBatch         372 non-null    object
 17  Reversal         372 non-null    int64
 18  Status           372 non-null    object
 19  agentname        372 non-null    object
dtypes: float64(2), int64(3), object(15)
memory usage: 61.0+ KB

In [172]:
c5 = c5.filter(['sessiondate','[Contribution]','agentname','[Scheme number]'])

In [173]:
c5

       sessiondate  [Contribution]       agentname [Scheme number]
43         2021-07            40.0  RICHARD NYARBI   1010PPS005407
300        2021-08            30.0  RICHARD NYARBI   1010PPS009475
301        2021-07            30.0  RICHARD NYARBI   1010PPS009475
302        2021-07            20.0  RICHARD NYARBI   1010PPS010047
437        2021-08            30.0  RICHARD NYARBI   1010PPS013114
...            ...             ...             ...             ...
101234     2021-05            10.0  RICHARD NYARBI   1010PPS043219
101235     2021-10            10.0  RICHARD NYARBI   1010PPS043219
101236     2021-09            10.0  RICHARD NYARBI   1010PPS043219
121963     2022-01            50.0  RICHARD NYARBI   1010PPS008556
121965     2022-02            50.0  RICHARD NYARBI   1010PPS008556

[372 rows x 4 columns]

In [174]:
b2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6690 entries, 0 to 6689
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mobile           6679 non-null   object
 1   [Scheme number]  6690 non-null   object
 2   Start date       6690 non-null   object
 3   agentname        6111 non-null   object
dtypes: object(4)
memory usage: 261.3+ KB

In [175]:
b3= b2.loc[b2['agentname'] == 'RICHARD NYABI' ]

In [178]:
b3

Empty DataFrame
Columns: [Mobile, [Scheme number], Start date, agentname]
Index: []

In [176]:
lb= pd.pivot_table(b3, index = ['Start date', '[Scheme number]'], columns = ['agentname'])#, values = ['[Contribution]'],aggfunc = np.sum)#######

In [ ]:
lb.to_excel('lbs.xlsx')

In [179]:
l = pd.pivot_table(c5, index = ['sessiondate', '[Scheme number]'], columns = ['agentname'], values = ['[Contribution]'],aggfunc = np.sum)#######

In [181]:
l

                            [Contribution]
agentname                   RICHARD NYARBI
sessiondate [Scheme number]
2021-01     1010PPS006509             10.0
            1010PPS008120             30.0
            1010PPS008556             50.0
            1010PPS010990              5.0
            1010PPS012714             34.0
...                                    ...
2021-12     1010PPS008120             10.0
            1010PPS008556             50.0
            1010PPS042640            100.0
2022-01     1010PPS008556             50.0
2022-02     1010PPS008556             50.0

[120 rows x 1 columns]

In [182]:
l.to_excel('RICHARD.xlsx')