<a href="https://colab.research.google.com/github/bryted/randomactivities/blob/main/tags_and_insight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
#!pip install xlsxwriter
#!pip install openpyxl --upgrade --pre

In [ ]:
pdd = pd.read_excel('PaymentDataDump.xlsx')

In [ ]:
pdd1 = pdd[pdd['Type'].str.contains('Savings Withdrawal','WITHDRAWAL')]

In [ ]:
pdd2 = pdd[pdd['Type']== 'WITHDRAWAL']
pdd3 = pdd[pdd['Type']== 'Withdrawal']

In [ ]:
pdd3.Type.value_counts()

Withdrawal    474
Name: Type, dtype: int64

In [ ]:
df = pd.concat([pdd1,pdd2,pdd3])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1129 entries, 9996 to 131115
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               1129 non-null   int64
 1   Creation time    1129 non-null   int64
 2   [Sesseion date]  1129 non-null   int64
 3   Batch number     1129 non-null   object
 4   Mobile           1129 non-null   object
 5   Product type     1129 non-null   object
 6   [Scheme number]  1129 non-null   object
 7   [Other number]   1090 non-null   object
 8   User name        1129 non-null   object
 9   Method           1129 non-null   object
 10  Type             1129 non-null   object
 11  Reference        1129 non-null   object
 12  [Contribution]   1129 non-null   float64
 13  [Withdrawal]     1129 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 132.3+ KB

In [ ]:
#df['Rever'] = df['Reference'].str[14:]

In [ ]:
reasons

In [ ]:
df['Reasons'] = pd.np.where(df.Reference.str.contains('BUSINESS'), "BUSINESS",
                   pd.np.where(df.Reference.str.contains("SCHOOL"), "EDUCATION",
                   pd.np.where(df.Reference.str.contains("SHOP"), "BUSINESS",
                   pd.np.where(df.Reference.str.contains('HOSPITAL'), 'MEDICAL' ,   
                   pd.np.where(df.Reference.str.contains('BOOKS'), 'EDUCATIONAL' , 
                   pd.np.where(df.Reference.str.contains('GOODS'), 'BUSINESS' ,            
                   pd.np.where(df.Reference.str.contains('DRUGS'), 'MEDICAL',            
                   pd.np.where(df.Reference.str.contains('MEDICAL'), 'MEDICAL',            
                   pd.np.where(df.Reference.str.contains('PERSONAL'), 'PERSONAL',            
                   pd.np.where(df.Reference.str.contains('PAY'), 'FINANCIAL', 
                   pd.np.where(df.Reference.str.contains('TOP UP'), 'BUSINESS', 
                   pd.np.where(df.Reference.str.contains('PROJECT'), 'BUSINESS',
                   pd.np.where(df.Reference.str.contains('MEDICINE'), 'MEDICAL',                      
                   pd.np.where(df.Reference.str.contains('CHRISTMAS'), 'FINANCIAL',            
                   pd.np.where(df.Reference.str.contains('RENT'), 'FINANCIAL',  
                   pd.np.where(df.Reference.str.contains('TRAVELLING'), 'FINANCIAL',        
                   pd.np.where(df.Reference.str.contains('PAY FEES'), 'EDUCTIONAL',
                   pd.np.where(df.Reference.str.contains('UPKEEP'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('MEDICATION'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('DEDUCTIONS'), 'REFUND',
                   pd.np.where(df.Reference.str.contains('BUY'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('DEDUCTION'), 'REFUND',
                   pd.np.where(df.Reference.str.contains('HEALTH'), 'MEDICAL',
                   pd.np.where(df.Reference.str.contains('DEBT'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('SUPPORT'), 'FINANCIAL',            
                   pd.np.where(df.Reference.str.contains('CONFIDENTIAL'), 'PERSONAL',
                   pd.np.where(df.Reference.str.contains('FEES'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('EMERGENCY'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('REPAIR'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('CARE'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('FARM'), 'BUSINESS',
                   pd.np.where(df.Reference.str.contains('PAY FOR'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('ADMISSION'), 'EDUCATIONAL',  
                   pd.np.where(df.Reference.str.contains('POCKET'), 'FINANCIAL', 
                   pd.np.where(df.Reference.str.contains('LOAN'), 'FINANCIAL', 
                   pd.np.where(df.Reference.str.contains('SORT'), 'FINANCIAL', 
                   pd.np.where(df.Reference.str.contains('PURCHASE'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('FINANCIAL'), 'FINANCIAL',
                   pd.np.where(df.Reference.str.contains('URGENCY'), 'FINANCIAL', 
                   pd.np.where(df.Reference.str.contains('Personal'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('Reverse'), 'REVERSAL', 
                   pd.np.where(df.Reference.str.contains('BILLS'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('BUILDING'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('EDUCATIONAL'), 'EDUCATIONAL',  
                   pd.np.where(df.Reference.str.contains('educational'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('reversed'), 'REVERSAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('TRAVEL'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('UPKEEP'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('Project'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('project'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('FUNERAL'), 'PERSONAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('TRANSPORTATION'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('CAR'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('UP KEEP'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('PROBLEM'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('MONEY'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('ITEMS'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('CHURCH'), 'FINANCIAL', 
                   pd.np.where(df.Reference.str.contains('TRANSPORT'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('INVESTMENT'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('CHECK UP'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('URGENT ISSUE'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('Educational'), 'EDUCATIONAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('goods'), 'FINANCIAL',                                                                                          
                   pd.np.where(df.Reference.str.contains('taxi'), 'FINANCIAL',                                                                                          
                                                                                                            
                                                                                                           
                                                                                                            
                   
















                               'OTHER')))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))

In [ ]:
df

            Id  Creation time  ...  [Withdrawal]      Reasons
9996    288148          44505  ...        1000.0     BUSINESS
10231   300570          44530  ...         590.0    FINANCIAL
10387   263061          44456  ...         100.0     PERSONAL
10484   288150          44505  ...        1500.0     BUSINESS
10557   266062          44461  ...          90.0     PERSONAL
...        ...            ...  ...           ...          ...
130408  158020          44277  ...        1000.0     PERSONAL
130487  140371          44238  ...        2000.0     BUSINESS
130582  135954          44236  ...        4000.0    EDUCATION
131105  209692          44354  ...         100.0     BUSINESS
131115  206018          44347  ...           6.5  EDUCATIONAL

[1129 rows x 15 columns]

In [ ]:
 sum = df.groupby('Reasons')['[Withdrawal]'].sum()

In [ ]:
sum.to_excel('sum.xlsx')

In [ ]:
mean = df.groupby('Reasons')['[Withdrawal]'].mean()

In [ ]:
median = df.groupby('Reasons')['[Withdrawal]'].median()

In [ ]:
median

Reasons
BUSINESS        217.0
EDUCATION       356.0
EDUCATIONAL     100.0
FINANCIAL       200.0
MEDICAL         250.0
OTHER           290.0
PERSONAL        200.0
REFUND           50.0
REVERSAL       1449.0
Name: [Withdrawal], dtype: float64

In [ ]:
median.to_excel('median.xlsx')

In [ ]:
mean.to_excel('mean.xlsx')

In [ ]:
mean

Reasons
BUSINESS        591.024155
EDUCATION       534.942308
EDUCATIONAL     257.416667
FINANCIAL       455.972000
MEDICAL         591.277778
OTHER           474.088235
PERSONAL        460.019278
REFUND           92.647059
REVERSAL       2814.911333
Name: [Withdrawal], dtype: float64

In [ ]:
sum

Reasons
BUSINESS       122342.00
EDUCATION       27817.00
EDUCATIONAL      3089.00
FINANCIAL      113993.00
MEDICAL         31929.00
OTHER           16119.00
PERSONAL       216669.08
REFUND           3150.00
REVERSAL        42223.67
Name: [Withdrawal], dtype: float64

In [ ]:
cat  = df.Reasons.value_counts()

In [ ]:
cat

PERSONAL       471
FINANCIAL      250
BUSINESS       207
MEDICAL         54
EDUCATION       52
REFUND          34
OTHER           34
REVERSAL        15
EDUCATIONAL     12
Name: Reasons, dtype: int64

In [ ]:
#cat.to_excel('cat.xlsx')

In [ ]:
#cat.columns = ['Reason','Count',]

In [ ]:
print(cat)

PERSONAL       471
FINANCIAL      250
BUSINESS       207
MEDICAL         54
EDUCATION       52
REFUND          34
OTHER           34
REVERSAL        15
EDUCATIONAL     12
Name: Reasons, dtype: int64

In [ ]:
#cat1 = cat.plot(kind = 'pie',figsize = (15,10), autopct = '')
#cat1.set_title("Distribution of Reasons for Withdrawal")
#cat1.plot()